=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module FastCommentsClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [AddDomainConfigResponse]
    def add_domain_config(tenant_id, add_domain_config_params, opts = {})
      data, _status_code, _headers = add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddDomainConfigResponse, Integer, Hash)>] AddDomainConfigResponse data, response status code and response headers
    def add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_domain_config"
      end
      # verify the required parameter 'add_domain_config_params' is set
      if @api_client.config.client_side_validation && add_domain_config_params.nil?
        fail ArgumentError, "Missing the required parameter 'add_domain_config_params' when calling DefaultApi.add_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_domain_config_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AddDomainConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [CreateHashTagBody] :create_hash_tag_body 
    # @return [AddHashTagResponse]
    def add_hash_tag(opts = {})
      data, _status_code, _headers = add_hash_tag_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [CreateHashTagBody] :create_hash_tag_body 
    # @return [Array<(AddHashTagResponse, Integer, Hash)>] AddHashTagResponse data, response status code and response headers
    def add_hash_tag_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_hash_tag ...'
      end
      # resource path
      local_var_path = '/api/v1/hash-tags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_hash_tag_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'AddHashTagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_hash_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_hash_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [BulkCreateHashTagsBody] :bulk_create_hash_tags_body 
    # @return [AddHashTagsBulkResponse]
    def add_hash_tags_bulk(opts = {})
      data, _status_code, _headers = add_hash_tags_bulk_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [BulkCreateHashTagsBody] :bulk_create_hash_tags_body 
    # @return [Array<(AddHashTagsBulkResponse, Integer, Hash)>] AddHashTagsBulkResponse data, response status code and response headers
    def add_hash_tags_bulk_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_hash_tags_bulk ...'
      end
      # resource path
      local_var_path = '/api/v1/hash-tags/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bulk_create_hash_tags_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'AddHashTagsBulkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_hash_tags_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_hash_tags_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [AddPageAPIResponse]
    def add_page(tenant_id, create_api_page_data, opts = {})
      data, _status_code, _headers = add_page_with_http_info(tenant_id, create_api_page_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddPageAPIResponse, Integer, Hash)>] AddPageAPIResponse data, response status code and response headers
    def add_page_with_http_info(tenant_id, create_api_page_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_page"
      end
      # verify the required parameter 'create_api_page_data' is set
      if @api_client.config.client_side_validation && create_api_page_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_page_data' when calling DefaultApi.add_page"
      end
      # resource path
      local_var_path = '/api/v1/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_page_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddPageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [AddSSOUserAPIResponse]
    def add_sso_user(tenant_id, create_apisso_user_data, opts = {})
      data, _status_code, _headers = add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddSSOUserAPIResponse, Integer, Hash)>] AddSSOUserAPIResponse data, response status code and response headers
    def add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_sso_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_sso_user"
      end
      # verify the required parameter 'create_apisso_user_data' is set
      if @api_client.config.client_side_validation && create_apisso_user_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_apisso_user_data' when calling DefaultApi.add_sso_user"
      end
      # resource path
      local_var_path = '/api/v1/sso-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_apisso_user_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddSSOUserAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_sso_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_sso_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [AggregateResponse]
    def aggregate(tenant_id, aggregation_request, opts = {})
      data, _status_code, _headers = aggregate_with_http_info(tenant_id, aggregation_request, opts)
      data
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [Array<(AggregateResponse, Integer, Hash)>] AggregateResponse data, response status code and response headers
    def aggregate_with_http_info(tenant_id, aggregation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate"
      end
      # verify the required parameter 'aggregation_request' is set
      if @api_client.config.client_side_validation && aggregation_request.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_request' when calling DefaultApi.aggregate"
      end
      # resource path
      local_var_path = '/api/v1/aggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'parentTenantId'] = opts[:'parent_tenant_id'] if !opts[:'parent_tenant_id'].nil?
      query_params[:'includeStats'] = opts[:'include_stats'] if !opts[:'include_stats'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(aggregation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AggregateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [AggregateQuestionResultsResponse1]
    def aggregate_question_results(tenant_id, opts = {})
      data, _status_code, _headers = aggregate_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(AggregateQuestionResultsResponse1, Integer, Hash)>] AggregateQuestionResultsResponse1 data, response status code and response headers
    def aggregate_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'timeBucket'] = opts[:'time_bucket'] if !opts[:'time_bucket'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AggregateQuestionResultsResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [BlockUserFromCommentResponse]
    def block_user_from_comment(tenant_id, id, block_from_comment_params, opts = {})
      data, _status_code, _headers = block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(BlockUserFromCommentResponse, Integer, Hash)>] BlockUserFromCommentResponse data, response status code and response headers
    def block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.block_user_from_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'block_from_comment_params' is set
      if @api_client.config.client_side_validation && block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'block_from_comment_params' when calling DefaultApi.block_user_from_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}/block'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BlockUserFromCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.block_user_from_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#block_user_from_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [BulkAggregateQuestionResultsResponse1]
    def bulk_aggregate_question_results(tenant_id, bulk_aggregate_question_results_request, opts = {})
      data, _status_code, _headers = bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts)
      data
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(BulkAggregateQuestionResultsResponse1, Integer, Hash)>] BulkAggregateQuestionResultsResponse1 data, response status code and response headers
    def bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bulk_aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # verify the required parameter 'bulk_aggregate_question_results_request' is set
      if @api_client.config.client_side_validation && bulk_aggregate_question_results_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_aggregate_question_results_request' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_aggregate_question_results_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkAggregateQuestionResultsResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.bulk_aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bulk_aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param id [String] 
    # @param change_ticket_state_body [ChangeTicketStateBody] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeTicketStateResponse1]
    def change_ticket_state(tenant_id, user_id, id, change_ticket_state_body, opts = {})
      data, _status_code, _headers = change_ticket_state_with_http_info(tenant_id, user_id, id, change_ticket_state_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param id [String] 
    # @param change_ticket_state_body [ChangeTicketStateBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeTicketStateResponse1, Integer, Hash)>] ChangeTicketStateResponse1 data, response status code and response headers
    def change_ticket_state_with_http_info(tenant_id, user_id, id, change_ticket_state_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.change_ticket_state ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.change_ticket_state"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.change_ticket_state"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.change_ticket_state"
      end
      # verify the required parameter 'change_ticket_state_body' is set
      if @api_client.config.client_side_validation && change_ticket_state_body.nil?
        fail ArgumentError, "Missing the required parameter 'change_ticket_state_body' when calling DefaultApi.change_ticket_state"
      end
      # resource path
      local_var_path = '/api/v1/tickets/{id}/state'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = user_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_ticket_state_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeTicketStateResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.change_ticket_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#change_ticket_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [CombineCommentsWithQuestionResultsResponse]
    def combine_comments_with_question_results(tenant_id, opts = {})
      data, _status_code, _headers = combine_comments_with_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [Array<(CombineCommentsWithQuestionResultsResponse, Integer, Hash)>] CombineCommentsWithQuestionResultsResponse data, response status code and response headers
    def combine_comments_with_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.combine_comments_with_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.combine_comments_with_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/combine/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?
      query_params[:'minValue'] = opts[:'min_value'] if !opts[:'min_value'].nil?
      query_params[:'maxValue'] = opts[:'max_value'] if !opts[:'max_value'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CombineCommentsWithQuestionResultsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.combine_comments_with_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#combine_comments_with_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_email_template_body [CreateEmailTemplateBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmailTemplateResponse1]
    def create_email_template(tenant_id, create_email_template_body, opts = {})
      data, _status_code, _headers = create_email_template_with_http_info(tenant_id, create_email_template_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_email_template_body [CreateEmailTemplateBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmailTemplateResponse1, Integer, Hash)>] CreateEmailTemplateResponse1 data, response status code and response headers
    def create_email_template_with_http_info(tenant_id, create_email_template_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_email_template ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_email_template"
      end
      # verify the required parameter 'create_email_template_body' is set
      if @api_client.config.client_side_validation && create_email_template_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_email_template_body' when calling DefaultApi.create_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_email_template_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmailTemplateResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [CreateFeedPostResponse1]
    def create_feed_post(tenant_id, create_feed_post_params, opts = {})
      data, _status_code, _headers = create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [Array<(CreateFeedPostResponse1, Integer, Hash)>] CreateFeedPostResponse1 data, response status code and response headers
    def create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_feed_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_feed_post"
      end
      # verify the required parameter 'create_feed_post_params' is set
      if @api_client.config.client_side_validation && create_feed_post_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_feed_post_params' when calling DefaultApi.create_feed_post"
      end
      # resource path
      local_var_path = '/api/v1/feed-posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?
      query_params[:'doSpamCheck'] = opts[:'do_spam_check'] if !opts[:'do_spam_check'].nil?
      query_params[:'skipDupCheck'] = opts[:'skip_dup_check'] if !opts[:'skip_dup_check'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_feed_post_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFeedPostResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_feed_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_feed_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_moderator_body [CreateModeratorBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateModeratorResponse1]
    def create_moderator(tenant_id, create_moderator_body, opts = {})
      data, _status_code, _headers = create_moderator_with_http_info(tenant_id, create_moderator_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_moderator_body [CreateModeratorBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateModeratorResponse1, Integer, Hash)>] CreateModeratorResponse1 data, response status code and response headers
    def create_moderator_with_http_info(tenant_id, create_moderator_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_moderator ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_moderator"
      end
      # verify the required parameter 'create_moderator_body' is set
      if @api_client.config.client_side_validation && create_moderator_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_moderator_body' when calling DefaultApi.create_moderator"
      end
      # resource path
      local_var_path = '/api/v1/moderators'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_moderator_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateModeratorResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_moderator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_moderator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_question_config_body [CreateQuestionConfigBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateQuestionConfigResponse1]
    def create_question_config(tenant_id, create_question_config_body, opts = {})
      data, _status_code, _headers = create_question_config_with_http_info(tenant_id, create_question_config_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_question_config_body [CreateQuestionConfigBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateQuestionConfigResponse1, Integer, Hash)>] CreateQuestionConfigResponse1 data, response status code and response headers
    def create_question_config_with_http_info(tenant_id, create_question_config_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_question_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_question_config"
      end
      # verify the required parameter 'create_question_config_body' is set
      if @api_client.config.client_side_validation && create_question_config_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_question_config_body' when calling DefaultApi.create_question_config"
      end
      # resource path
      local_var_path = '/api/v1/question-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_question_config_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateQuestionConfigResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_question_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_question_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_question_result_body [CreateQuestionResultBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateQuestionResultResponse1]
    def create_question_result(tenant_id, create_question_result_body, opts = {})
      data, _status_code, _headers = create_question_result_with_http_info(tenant_id, create_question_result_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_question_result_body [CreateQuestionResultBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateQuestionResultResponse1, Integer, Hash)>] CreateQuestionResultResponse1 data, response status code and response headers
    def create_question_result_with_http_info(tenant_id, create_question_result_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_question_result ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_question_result"
      end
      # verify the required parameter 'create_question_result_body' is set
      if @api_client.config.client_side_validation && create_question_result_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_question_result_body' when calling DefaultApi.create_question_result"
      end
      # resource path
      local_var_path = '/api/v1/question-results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_question_result_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateQuestionResultResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_question_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_question_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscriptionAPIResponse]
    def create_subscription(tenant_id, create_api_user_subscription_data, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscriptionAPIResponse, Integer, Hash)>] CreateSubscriptionAPIResponse data, response status code and response headers
    def create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_subscription ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_subscription"
      end
      # verify the required parameter 'create_api_user_subscription_data' is set
      if @api_client.config.client_side_validation && create_api_user_subscription_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_user_subscription_data' when calling DefaultApi.create_subscription"
      end
      # resource path
      local_var_path = '/api/v1/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_user_subscription_data)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscriptionAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_body [CreateTenantBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantResponse1]
    def create_tenant(tenant_id, create_tenant_body, opts = {})
      data, _status_code, _headers = create_tenant_with_http_info(tenant_id, create_tenant_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_body [CreateTenantBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantResponse1, Integer, Hash)>] CreateTenantResponse1 data, response status code and response headers
    def create_tenant_with_http_info(tenant_id, create_tenant_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant"
      end
      # verify the required parameter 'create_tenant_body' is set
      if @api_client.config.client_side_validation && create_tenant_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_body' when calling DefaultApi.create_tenant"
      end
      # resource path
      local_var_path = '/api/v1/tenants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_package_body [CreateTenantPackageBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantPackageResponse1]
    def create_tenant_package(tenant_id, create_tenant_package_body, opts = {})
      data, _status_code, _headers = create_tenant_package_with_http_info(tenant_id, create_tenant_package_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_package_body [CreateTenantPackageBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantPackageResponse1, Integer, Hash)>] CreateTenantPackageResponse1 data, response status code and response headers
    def create_tenant_package_with_http_info(tenant_id, create_tenant_package_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant_package ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant_package"
      end
      # verify the required parameter 'create_tenant_package_body' is set
      if @api_client.config.client_side_validation && create_tenant_package_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_package_body' when calling DefaultApi.create_tenant_package"
      end
      # resource path
      local_var_path = '/api/v1/tenant-packages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_package_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantPackageResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant_package",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_user_body [CreateTenantUserBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantUserResponse1]
    def create_tenant_user(tenant_id, create_tenant_user_body, opts = {})
      data, _status_code, _headers = create_tenant_user_with_http_info(tenant_id, create_tenant_user_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_user_body [CreateTenantUserBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantUserResponse1, Integer, Hash)>] CreateTenantUserResponse1 data, response status code and response headers
    def create_tenant_user_with_http_info(tenant_id, create_tenant_user_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant_user"
      end
      # verify the required parameter 'create_tenant_user_body' is set
      if @api_client.config.client_side_validation && create_tenant_user_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_user_body' when calling DefaultApi.create_tenant_user"
      end
      # resource path
      local_var_path = '/api/v1/tenant-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_user_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantUserResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param create_ticket_body [CreateTicketBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTicketResponse1]
    def create_ticket(tenant_id, user_id, create_ticket_body, opts = {})
      data, _status_code, _headers = create_ticket_with_http_info(tenant_id, user_id, create_ticket_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param create_ticket_body [CreateTicketBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTicketResponse1, Integer, Hash)>] CreateTicketResponse1 data, response status code and response headers
    def create_ticket_with_http_info(tenant_id, user_id, create_ticket_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_ticket ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_ticket"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.create_ticket"
      end
      # verify the required parameter 'create_ticket_body' is set
      if @api_client.config.client_side_validation && create_ticket_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_ticket_body' when calling DefaultApi.create_ticket"
      end
      # resource path
      local_var_path = '/api/v1/tickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = user_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ticket_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTicketResponse1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_ticket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [CreateUserBadgeResponse]
    def create_user_badge(tenant_id, create_user_badge_params, opts = {})
      data, _status_code, _headers = create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateUserBadgeResponse, Integer, Hash)>] CreateUserBadgeResponse data, response status code and response headers
    def create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_user_badge ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_user_badge"
      end
      # verify the required parameter 'create_user_badge_params' is set
      if @api_client.config.client_side_validation && create_user_badge_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_user_badge_params' when calling DefaultApi.create_user_badge"
      end
      # resource path
      local_var_path = '/api/v1/user-badges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_user_badge_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUserBadgeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_user_badge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_user_badge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param direction [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [CreateVoteResponse]
    def create_vote(tenant_id, comment_id, direction, opts = {})
      data, _status_code, _headers = create_vote_with_http_info(tenant_id, comment_id, direction, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param direction [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(CreateVoteResponse, Integer, Hash)>] CreateVoteResponse data, response status code and response headers
    def create_vote_with_http_info(tenant_id, comment_id, direction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_vote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_vote"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling DefaultApi.create_vote"
      end
      # verify the required parameter 'direction' is set
      if @api_client.config.client_side_validation && direction.nil?
        fail ArgumentError, "Missing the required parameter 'direction' when calling DefaultApi.create_vote"
      end
      # verify enum value
      allowable_values = ["up", "down"]
      if @api_client.config.client_side_validation && !allowable_values.include?(direction)
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/votes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'commentId'] = comment_id
      query_params[:'direction'] = direction
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateVoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_vote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_vote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [DeleteCommentResponse]
    def delete_comment(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_comment_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [Array<(DeleteCommentResponse, Integer, Hash)>] DeleteCommentResponse data, response status code and response headers
    def delete_comment_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'contextUserId'] = opts[:'context_user_id'] if !opts[:'context_user_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDomainConfigResponse]
    def delete_domain_config(tenant_id, domain, opts = {})
      data, _status_code, _headers = delete_domain_config_with_http_info(tenant_id, domain, opts)
      data
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDomainConfigResponse, Integer, Hash)>] DeleteDomainConfigResponse data, response status code and response headers
    def delete_domain_config_with_http_info(tenant_id, domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_domain_config"
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DefaultApi.delete_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs/{domain}'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDomainConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteEmailTemplateResponse]
    def delete_email_template(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_email_template_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteEmailTemplateResponse, Integer, Hash)>] DeleteEmailTemplateResponse data, response status code and response headers
    def delete_email_template_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email_template ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_email_template"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEmailTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param error_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteEmailTemplateRenderErrorResponse]
    def delete_email_template_render_error(tenant_id, id, error_id, opts = {})
      data, _status_code, _headers = delete_email_template_render_error_with_http_info(tenant_id, id, error_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param error_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteEmailTemplateRenderErrorResponse, Integer, Hash)>] DeleteEmailTemplateRenderErrorResponse data, response status code and response headers
    def delete_email_template_render_error_with_http_info(tenant_id, id, error_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email_template_render_error ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_email_template_render_error"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_email_template_render_error"
      end
      # verify the required parameter 'error_id' is set
      if @api_client.config.client_side_validation && error_id.nil?
        fail ArgumentError, "Missing the required parameter 'error_id' when calling DefaultApi.delete_email_template_render_error"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{id}/render-errors/{errorId}'.sub('{id}', CGI.escape(id.to_s)).sub('{errorId}', CGI.escape(error_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEmailTemplateRenderErrorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email_template_render_error",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email_template_render_error\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [DeleteHashTagRequestBody] :delete_hash_tag_request_body 
    # @return [DeleteHashTagResponse]
    def delete_hash_tag(tag, opts = {})
      data, _status_code, _headers = delete_hash_tag_with_http_info(tag, opts)
      data
    end

    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [DeleteHashTagRequestBody] :delete_hash_tag_request_body 
    # @return [Array<(DeleteHashTagResponse, Integer, Hash)>] DeleteHashTagResponse data, response status code and response headers
    def delete_hash_tag_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_hash_tag ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling DefaultApi.delete_hash_tag"
      end
      # resource path
      local_var_path = '/api/v1/hash-tags/{tag}'.sub('{tag}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_hash_tag_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteHashTagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_hash_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_hash_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_email 
    # @return [DeleteModeratorResponse]
    def delete_moderator(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_moderator_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_email 
    # @return [Array<(DeleteModeratorResponse, Integer, Hash)>] DeleteModeratorResponse data, response status code and response headers
    def delete_moderator_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_moderator ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_moderator"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_moderator"
      end
      # resource path
      local_var_path = '/api/v1/moderators/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sendEmail'] = opts[:'send_email'] if !opts[:'send_email'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteModeratorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_moderator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_moderator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteNotificationCountResponse]
    def delete_notification_count(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_notification_count_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteNotificationCountResponse, Integer, Hash)>] DeleteNotificationCountResponse data, response status code and response headers
    def delete_notification_count_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_notification_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_notification_count"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_notification_count"
      end
      # resource path
      local_var_path = '/api/v1/notification-count/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteNotificationCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_notification_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_notification_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePageAPIResponse]
    def delete_page(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_page_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePageAPIResponse, Integer, Hash)>] DeletePageAPIResponse data, response status code and response headers
    def delete_page_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_page"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_page"
      end
      # resource path
      local_var_path = '/api/v1/pages/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePendingWebhookEventResponse]
    def delete_pending_webhook_event(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_pending_webhook_event_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePendingWebhookEventResponse, Integer, Hash)>] DeletePendingWebhookEventResponse data, response status code and response headers
    def delete_pending_webhook_event_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_pending_webhook_event ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_pending_webhook_event"
      end
      # verify the required parameter 'id' is set
[...]
