=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module FastCommentsClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [AddDomainConfig200Response]
    def add_domain_config(tenant_id, add_domain_config_params, opts = {})
      data, _status_code, _headers = add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddDomainConfig200Response, Integer, Hash)>] AddDomainConfig200Response data, response status code and response headers
    def add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_domain_config"
      end
      # verify the required parameter 'add_domain_config_params' is set
      if @api_client.config.client_side_validation && add_domain_config_params.nil?
        fail ArgumentError, "Missing the required parameter 'add_domain_config_params' when calling DefaultApi.add_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_domain_config_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AddDomainConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [AddPageAPIResponse]
    def add_page(tenant_id, create_api_page_data, opts = {})
      data, _status_code, _headers = add_page_with_http_info(tenant_id, create_api_page_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddPageAPIResponse, Integer, Hash)>] AddPageAPIResponse data, response status code and response headers
    def add_page_with_http_info(tenant_id, create_api_page_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_page"
      end
      # verify the required parameter 'create_api_page_data' is set
      if @api_client.config.client_side_validation && create_api_page_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_page_data' when calling DefaultApi.add_page"
      end
      # resource path
      local_var_path = '/api/v1/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_page_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddPageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [AddSSOUserAPIResponse]
    def add_sso_user(tenant_id, create_apisso_user_data, opts = {})
      data, _status_code, _headers = add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddSSOUserAPIResponse, Integer, Hash)>] AddSSOUserAPIResponse data, response status code and response headers
    def add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_sso_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_sso_user"
      end
      # verify the required parameter 'create_apisso_user_data' is set
      if @api_client.config.client_side_validation && create_apisso_user_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_apisso_user_data' when calling DefaultApi.add_sso_user"
      end
      # resource path
      local_var_path = '/api/v1/sso-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_apisso_user_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddSSOUserAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_sso_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_sso_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [AggregationResponse]
    def aggregate(tenant_id, aggregation_request, opts = {})
      data, _status_code, _headers = aggregate_with_http_info(tenant_id, aggregation_request, opts)
      data
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [Array<(AggregationResponse, Integer, Hash)>] AggregationResponse data, response status code and response headers
    def aggregate_with_http_info(tenant_id, aggregation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate"
      end
      # verify the required parameter 'aggregation_request' is set
      if @api_client.config.client_side_validation && aggregation_request.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_request' when calling DefaultApi.aggregate"
      end
      # resource path
      local_var_path = '/api/v1/aggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'parentTenantId'] = opts[:'parent_tenant_id'] if !opts[:'parent_tenant_id'].nil?
      query_params[:'includeStats'] = opts[:'include_stats'] if !opts[:'include_stats'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(aggregation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AggregationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [AggregateQuestionResults200Response]
    def aggregate_question_results(tenant_id, opts = {})
      data, _status_code, _headers = aggregate_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(AggregateQuestionResults200Response, Integer, Hash)>] AggregateQuestionResults200Response data, response status code and response headers
    def aggregate_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'timeBucket'] = opts[:'time_bucket'] if !opts[:'time_bucket'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AggregateQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [BlockFromCommentPublic200Response]
    def block_user_from_comment(tenant_id, id, block_from_comment_params, opts = {})
      data, _status_code, _headers = block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(BlockFromCommentPublic200Response, Integer, Hash)>] BlockFromCommentPublic200Response data, response status code and response headers
    def block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.block_user_from_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'block_from_comment_params' is set
      if @api_client.config.client_side_validation && block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'block_from_comment_params' when calling DefaultApi.block_user_from_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}/block'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BlockFromCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.block_user_from_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#block_user_from_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [BulkAggregateQuestionResults200Response]
    def bulk_aggregate_question_results(tenant_id, bulk_aggregate_question_results_request, opts = {})
      data, _status_code, _headers = bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts)
      data
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(BulkAggregateQuestionResults200Response, Integer, Hash)>] BulkAggregateQuestionResults200Response data, response status code and response headers
    def bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bulk_aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # verify the required parameter 'bulk_aggregate_question_results_request' is set
      if @api_client.config.client_side_validation && bulk_aggregate_question_results_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_aggregate_question_results_request' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_aggregate_question_results_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkAggregateQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.bulk_aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bulk_aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [CombineCommentsWithQuestionResults200Response]
    def combine_comments_with_question_results(tenant_id, opts = {})
      data, _status_code, _headers = combine_comments_with_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [Array<(CombineCommentsWithQuestionResults200Response, Integer, Hash)>] CombineCommentsWithQuestionResults200Response data, response status code and response headers
    def combine_comments_with_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.combine_comments_with_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.combine_comments_with_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/combine/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?
      query_params[:'minValue'] = opts[:'min_value'] if !opts[:'min_value'].nil?
      query_params[:'maxValue'] = opts[:'max_value'] if !opts[:'max_value'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CombineCommentsWithQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.combine_comments_with_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#combine_comments_with_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [CreateFeedPost200Response]
    def create_feed_post(tenant_id, create_feed_post_params, opts = {})
      data, _status_code, _headers = create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [Array<(CreateFeedPost200Response, Integer, Hash)>] CreateFeedPost200Response data, response status code and response headers
    def create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_feed_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_feed_post"
      end
      # verify the required parameter 'create_feed_post_params' is set
      if @api_client.config.client_side_validation && create_feed_post_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_feed_post_params' when calling DefaultApi.create_feed_post"
      end
      # resource path
      local_var_path = '/api/v1/feed-posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?
      query_params[:'doSpamCheck'] = opts[:'do_spam_check'] if !opts[:'do_spam_check'].nil?
      query_params[:'skipDupCheck'] = opts[:'skip_dup_check'] if !opts[:'skip_dup_check'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_feed_post_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFeedPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_feed_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_feed_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscriptionAPIResponse]
    def create_subscription(tenant_id, create_api_user_subscription_data, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscriptionAPIResponse, Integer, Hash)>] CreateSubscriptionAPIResponse data, response status code and response headers
    def create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_subscription ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_subscription"
      end
      # verify the required parameter 'create_api_user_subscription_data' is set
      if @api_client.config.client_side_validation && create_api_user_subscription_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_user_subscription_data' when calling DefaultApi.create_subscription"
      end
      # resource path
      local_var_path = '/api/v1/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_user_subscription_data)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscriptionAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [CreateUserBadge200Response]
    def create_user_badge(tenant_id, create_user_badge_params, opts = {})
      data, _status_code, _headers = create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateUserBadge200Response, Integer, Hash)>] CreateUserBadge200Response data, response status code and response headers
    def create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_user_badge ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_user_badge"
      end
      # verify the required parameter 'create_user_badge_params' is set
      if @api_client.config.client_side_validation && create_user_badge_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_user_badge_params' when calling DefaultApi.create_user_badge"
      end
      # resource path
      local_var_path = '/api/v1/user-badges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_user_badge_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUserBadge200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_user_badge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_user_badge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [DeleteComment200Response]
    def delete_comment(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_comment_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [Array<(DeleteComment200Response, Integer, Hash)>] DeleteComment200Response data, response status code and response headers
    def delete_comment_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'contextUserId'] = opts[:'context_user_id'] if !opts[:'context_user_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDomainConfig200Response]
    def delete_domain_config(tenant_id, domain, opts = {})
      data, _status_code, _headers = delete_domain_config_with_http_info(tenant_id, domain, opts)
      data
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDomainConfig200Response, Integer, Hash)>] DeleteDomainConfig200Response data, response status code and response headers
    def delete_domain_config_with_http_info(tenant_id, domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_domain_config"
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DefaultApi.delete_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs/{domain}'.sub('{' + 'domain' + '}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDomainConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePageAPIResponse]
    def delete_page(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_page_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePageAPIResponse, Integer, Hash)>] DeletePageAPIResponse data, response status code and response headers
    def delete_page_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_page"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_page"
      end
      # resource path
      local_var_path = '/api/v1/pages/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_comments 
    # @option opts [String] :comment_delete_mode 
    # @return [DeleteSSOUserAPIResponse]
    def delete_sso_user(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_sso_user_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :delete_comments 
    # @option opts [String] :comment_delete_mode 
    # @return [Array<(DeleteSSOUserAPIResponse, Integer, Hash)>] DeleteSSOUserAPIResponse data, response status code and response headers
    def delete_sso_user_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_sso_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_sso_user"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_sso_user"
      end
      # resource path
      local_var_path = '/api/v1/sso-users/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'deleteComments'] = opts[:'delete_comments'] if !opts[:'delete_comments'].nil?
      query_params[:'commentDeleteMode'] = opts[:'comment_delete_mode'] if !opts[:'comment_delete_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSSOUserAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_sso_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_sso_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @return [DeleteSubscriptionAPIResponse]
    def delete_subscription(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_subscription_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @return [Array<(DeleteSubscriptionAPIResponse, Integer, Hash)>] DeleteSubscriptionAPIResponse data, response status code and response headers
    def delete_subscription_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_subscription ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_subscription"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_subscription"
      end
      # resource path
      local_var_path = '/api/v1/subscriptions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSubscriptionAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateUserBadge200Response]
    def delete_user_badge(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_user_badge_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateUserBadge200Response, Integer, Hash)>] UpdateUserBadge200Response data, response status code and response headers
    def delete_user_badge_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_user_badge ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_user_badge"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_user_badge"
      end
      # resource path
      local_var_path = '/api/v1/user-badges/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateUserBadge200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_user_badge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_user_badge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [FlagComment200Response]
    def flag_comment(tenant_id, id, opts = {})
      data, _status_code, _headers = flag_comment_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(FlagComment200Response, Integer, Hash)>] FlagComment200Response data, response status code and response headers
    def flag_comment_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.flag_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.flag_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.flag_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}/flag'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.flag_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#flag_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit 
    # @option opts [Float] :skip 
    # @option opts [SORTDIR] :order 
    # @option opts [Float] :after 
    # @option opts [Float] :before 
    # @return [GetAuditLogs200Response]
    def get_audit_logs(tenant_id, opts = {})
      data, _status_code, _headers = get_audit_logs_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit 
    # @option opts [Float] :skip 
    # @option opts [SORTDIR] :order 
    # @option opts [Float] :after 
    # @option opts [Float] :before 
    # @return [Array<(GetAuditLogs200Response, Integer, Hash)>] GetAuditLogs200Response data, response status code and response headers
    def get_audit_logs_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_audit_logs ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_audit_logs"
      end
      # resource path
      local_var_path = '/api/v1/audit-logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAuditLogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_audit_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_audit_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetComment200Response]
    def get_comment(tenant_id, id, opts = {})
      data, _status_code, _headers = get_comment_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetComment200Response, Integer, Hash)>] GetComment200Response data, response status code and response headers
    def get_comment_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :skip 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit_children 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [String] :url_id 
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @option opts [String] :context_user_id 
    # @option opts [String] :hash_tag 
    # @option opts [String] :parent_id 
    # @option opts [SortDirections] :direction 
    # @return [GetComments200Response]
    def get_comments(tenant_id, opts = {})
      data, _status_code, _headers = get_comments_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :skip 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit_children 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [String] :url_id 
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @option opts [String] :context_user_id 
    # @option opts [String] :hash_tag 
    # @option opts [String] :parent_id 
    # @option opts [SortDirections] :direction 
    # @return [Array<(GetComments200Response, Integer, Hash)>] GetComments200Response data, response status code and response headers
    def get_comments_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_comments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_comments"
      end
      # resource path
      local_var_path = '/api/v1/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'asTree'] = opts[:'as_tree'] if !opts[:'as_tree'].nil?
      query_params[:'skipChildren'] = opts[:'skip_children'] if !opts[:'skip_children'].nil?
      query_params[:'limitChildren'] = opts[:'limit_children'] if !opts[:'limit_children'].nil?
      query_params[:'maxTreeDepth'] = opts[:'max_tree_depth'] if !opts[:'max_tree_depth'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?
      query_params[:'contextUserId'] = opts[:'context_user_id'] if !opts[:'context_user_id'].nil?
      query_params[:'hashTag'] = opts[:'hash_tag'] if !opts[:'hash_tag'].nil?
      query_params[:'parentId'] = opts[:'parent_id'] if !opts[:'parent_id'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetComments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetDomainConfig200Response]
    def get_domain_config(tenant_id, domain, opts = {})
      data, _status_code, _headers = get_domain_config_with_http_info(tenant_id, domain, opts)
      data
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDomainConfig200Response, Integer, Hash)>] GetDomainConfig200Response data, response status code and response headers
    def get_domain_config_with_http_info(tenant_id, domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_domain_config"
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DefaultApi.get_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs/{domain}'.sub('{' + 'domain' + '}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDomainConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetDomainConfigs200Response]
    def get_domain_configs(tenant_id, opts = {})
      data, _status_code, _headers = get_domain_configs_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDomainConfigs200Response, Integer, Hash)>] GetDomainConfigs200Response data, response status code and response headers
    def get_domain_configs_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_domain_configs ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_domain_configs"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDomainConfigs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_domain_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_domain_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId afterId
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @return [GetFeedPosts200Response]
    def get_feed_posts(tenant_id, opts = {})
      data, _status_code, _headers = get_feed_posts_with_http_info(tenant_id, opts)
      data
    end

    #  req tenantId afterId
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @return [Array<(GetFeedPosts200Response, Integer, Hash)>] GetFeedPosts200Response data, response status code and response headers
    def get_feed_posts_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_feed_posts ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_feed_posts"
      end
      # resource path
      local_var_path = '/api/v1/feed-posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :multi) if !opts[:'tags'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFeedPosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_feed_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_feed_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPageByURLIdAPIResponse]
    def get_page_by_urlid(tenant_id, url_id, opts = {})
      data, _status_code, _headers = get_page_by_urlid_with_http_info(tenant_id, url_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPageByURLIdAPIResponse, Integer, Hash)>] GetPageByURLIdAPIResponse data, response status code and response headers
    def get_page_by_urlid_with_http_info(tenant_id, url_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_page_by_urlid ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_page_by_urlid"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling DefaultApi.get_page_by_urlid"
      end
      # resource path
      local_var_path = '/api/v1/pages/by-url-id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'urlId'] = url_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPageByURLIdAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_page_by_urlid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_page_by_urlid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPagesAPIResponse]
    def get_pages(tenant_id, opts = {})
      data, _status_code, _headers = get_pages_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPagesAPIResponse, Integer, Hash)>] GetPagesAPIResponse data, response status code and response headers
    def get_pages_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_pages ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_pages"
      end
      # resource path
      local_var_path = '/api/v1/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPagesAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSSOUserByEmailAPIResponse]
    def get_sso_user_by_email(tenant_id, email, opts = {})
      data, _status_code, _headers = get_sso_user_by_email_with_http_info(tenant_id, email, opts)
      data
    end

    # @param tenant_id [String] 
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSSOUserByEmailAPIResponse, Integer, Hash)>] GetSSOUserByEmailAPIResponse data, response status code and response headers
    def get_sso_user_by_email_with_http_info(tenant_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_sso_user_by_email ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_sso_user_by_email"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling DefaultApi.get_sso_user_by_email"
      end
      # resource path
      local_var_path = '/api/v1/sso-users/by-email/{email}'.sub('{' + 'email' + '}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSSOUserByEmailAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_sso_user_by_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_sso_user_by_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSSOUserByIdAPIResponse]
    def get_sso_user_by_id(tenant_id, id, opts = {})
      data, _status_code, _headers = get_sso_user_by_id_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSSOUserByIdAPIResponse, Integer, Hash)>] GetSSOUserByIdAPIResponse data, response status code and response headers
    def get_sso_user_by_id_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_sso_user_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_sso_user_by_id"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_sso_user_by_id"
      end
      # resource path
      local_var_path = '/api/v1/sso-users/by-id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSSOUserByIdAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_sso_user_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_sso_user_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 
    # @return [GetSSOUsers200Response]
    def get_sso_users(tenant_id, opts = {})
      data, _status_code, _headers = get_sso_users_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 
    # @return [Array<(GetSSOUsers200Response, Integer, Hash)>] GetSSOUsers200Response data, response status code and response headers
    def get_sso_users_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_sso_users ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_sso_users"
      end
      # resource path
      local_var_path = '/api/v1/sso-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSSOUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_sso_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_sso_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @return [GetSubscriptionsAPIResponse]
    def get_subscriptions(tenant_id, opts = {})
      data, _status_code, _headers = get_subscriptions_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @return [Array<(GetSubscriptionsAPIResponse, Integer, Hash)>] GetSubscriptionsAPIResponse data, response status code and response headers
    def get_subscriptions_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_subscriptions ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_subscriptions"
      end
      # resource path
      local_var_path = '/api/v1/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscriptionsAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserBadge200Response]
    def get_user_badge(tenant_id, id, opts = {})
      data, _status_code, _headers = get_user_badge_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserBadge200Response, Integer, Hash)>] GetUserBadge200Response data, response status code and response headers
    def get_user_badge_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_user_badge ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_user_badge"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_user_badge"
      end
      # resource path
      local_var_path = '/api/v1/user-badges/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserBadge200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_user_badge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_user_badge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserBadgeProgressById200Response]
    def get_user_badge_progress_by_id(tenant_id, id, opts = {})
      data, _status_code, _headers = get_user_badge_progress_by_id_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserBadgeProgressById200Response, Integer, Hash)>] GetUserBadgeProgressById200Response data, response status code and response headers
    def get_user_badge_progress_by_id_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_user_badge_progress_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_user_badge_progress_by_id"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_user_badge_progress_by_id"
      end
      # resource path
      local_var_path = '/api/v1/user-badge-progress/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserBadgeProgressById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_user_badge_progress_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_user_badge_progress_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserBadgeProgressById200Response]
    def get_user_badge_progress_by_user_id(tenant_id, user_id, opts = {})
      data, _status_code, _headers = get_user_badge_progress_by_user_id_with_http_info(tenant_id, user_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserBadgeProgressById200Response, Integer, Hash)>] GetUserBadgeProgressById200Response data, response status code and response headers
    def get_user_badge_progress_by_user_id_with_http_info(tenant_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_user_badge_progress_by_user_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.get_user_badge_progress_by_user_id"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DefaultApi.get_user_badge_progress_by_user_id"
      end
      # resource path
      local_var_path = '/api/v1/user-badge-progress/user/{userId}'.sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserBadgeProgressById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_user_badge_progress_by_user_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
[...]
