=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0-SNAPSHOT

=end

require 'cgi'

module FastCommentsClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [AddDomainConfig200Response]
    def add_domain_config(tenant_id, add_domain_config_params, opts = {})
      data, _status_code, _headers = add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param add_domain_config_params [AddDomainConfigParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddDomainConfig200Response, Integer, Hash)>] AddDomainConfig200Response data, response status code and response headers
    def add_domain_config_with_http_info(tenant_id, add_domain_config_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_domain_config"
      end
      # verify the required parameter 'add_domain_config_params' is set
      if @api_client.config.client_side_validation && add_domain_config_params.nil?
        fail ArgumentError, "Missing the required parameter 'add_domain_config_params' when calling DefaultApi.add_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_domain_config_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AddDomainConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [CreateHashTagBody] :create_hash_tag_body 
    # @return [AddHashTag200Response]
    def add_hash_tag(opts = {})
      data, _status_code, _headers = add_hash_tag_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [CreateHashTagBody] :create_hash_tag_body 
    # @return [Array<(AddHashTag200Response, Integer, Hash)>] AddHashTag200Response data, response status code and response headers
    def add_hash_tag_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_hash_tag ...'
      end
      # resource path
      local_var_path = '/api/v1/hash-tags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_hash_tag_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'AddHashTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_hash_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_hash_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [BulkCreateHashTagsBody] :bulk_create_hash_tags_body 
    # @return [AddHashTagsBulk200Response]
    def add_hash_tags_bulk(opts = {})
      data, _status_code, _headers = add_hash_tags_bulk_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [BulkCreateHashTagsBody] :bulk_create_hash_tags_body 
    # @return [Array<(AddHashTagsBulk200Response, Integer, Hash)>] AddHashTagsBulk200Response data, response status code and response headers
    def add_hash_tags_bulk_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_hash_tags_bulk ...'
      end
      # resource path
      local_var_path = '/api/v1/hash-tags/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bulk_create_hash_tags_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'AddHashTagsBulk200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_hash_tags_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_hash_tags_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [AddPageAPIResponse]
    def add_page(tenant_id, create_api_page_data, opts = {})
      data, _status_code, _headers = add_page_with_http_info(tenant_id, create_api_page_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_page_data [CreateAPIPageData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddPageAPIResponse, Integer, Hash)>] AddPageAPIResponse data, response status code and response headers
    def add_page_with_http_info(tenant_id, create_api_page_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_page"
      end
      # verify the required parameter 'create_api_page_data' is set
      if @api_client.config.client_side_validation && create_api_page_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_page_data' when calling DefaultApi.add_page"
      end
      # resource path
      local_var_path = '/api/v1/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_page_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddPageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [AddSSOUserAPIResponse]
    def add_sso_user(tenant_id, create_apisso_user_data, opts = {})
      data, _status_code, _headers = add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_apisso_user_data [CreateAPISSOUserData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddSSOUserAPIResponse, Integer, Hash)>] AddSSOUserAPIResponse data, response status code and response headers
    def add_sso_user_with_http_info(tenant_id, create_apisso_user_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_sso_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.add_sso_user"
      end
      # verify the required parameter 'create_apisso_user_data' is set
      if @api_client.config.client_side_validation && create_apisso_user_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_apisso_user_data' when calling DefaultApi.add_sso_user"
      end
      # resource path
      local_var_path = '/api/v1/sso-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_apisso_user_data)

      # return_type
      return_type = opts[:debug_return_type] || 'AddSSOUserAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.add_sso_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_sso_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [AggregationResponse]
    def aggregate(tenant_id, aggregation_request, opts = {})
      data, _status_code, _headers = aggregate_with_http_info(tenant_id, aggregation_request, opts)
      data
    end

    # Aggregates documents by grouping them (if groupBy is provided) and applying multiple operations. Different operations (e.g. sum, countDistinct, avg, etc.) are supported.
    # @param tenant_id [String] 
    # @param aggregation_request [AggregationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent_tenant_id 
    # @option opts [Boolean] :include_stats 
    # @return [Array<(AggregationResponse, Integer, Hash)>] AggregationResponse data, response status code and response headers
    def aggregate_with_http_info(tenant_id, aggregation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate"
      end
      # verify the required parameter 'aggregation_request' is set
      if @api_client.config.client_side_validation && aggregation_request.nil?
        fail ArgumentError, "Missing the required parameter 'aggregation_request' when calling DefaultApi.aggregate"
      end
      # resource path
      local_var_path = '/api/v1/aggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'parentTenantId'] = opts[:'parent_tenant_id'] if !opts[:'parent_tenant_id'].nil?
      query_params[:'includeStats'] = opts[:'include_stats'] if !opts[:'include_stats'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(aggregation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AggregationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [AggregateQuestionResults200Response]
    def aggregate_question_results(tenant_id, opts = {})
      data, _status_code, _headers = aggregate_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [AggregateTimeBucket] :time_bucket 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(AggregateQuestionResults200Response, Integer, Hash)>] AggregateQuestionResults200Response data, response status code and response headers
    def aggregate_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'timeBucket'] = opts[:'time_bucket'] if !opts[:'time_bucket'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AggregateQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [BlockFromCommentPublic200Response]
    def block_user_from_comment(tenant_id, id, block_from_comment_params, opts = {})
      data, _status_code, _headers = block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param block_from_comment_params [BlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(BlockFromCommentPublic200Response, Integer, Hash)>] BlockFromCommentPublic200Response data, response status code and response headers
    def block_user_from_comment_with_http_info(tenant_id, id, block_from_comment_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.block_user_from_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.block_user_from_comment"
      end
      # verify the required parameter 'block_from_comment_params' is set
      if @api_client.config.client_side_validation && block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'block_from_comment_params' when calling DefaultApi.block_user_from_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}/block'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BlockFromCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.block_user_from_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#block_user_from_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [BulkAggregateQuestionResults200Response]
    def bulk_aggregate_question_results(tenant_id, bulk_aggregate_question_results_request, opts = {})
      data, _status_code, _headers = bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts)
      data
    end

    # @param tenant_id [String] 
    # @param bulk_aggregate_question_results_request [BulkAggregateQuestionResultsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_recalculate 
    # @return [Array<(BulkAggregateQuestionResults200Response, Integer, Hash)>] BulkAggregateQuestionResults200Response data, response status code and response headers
    def bulk_aggregate_question_results_with_http_info(tenant_id, bulk_aggregate_question_results_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bulk_aggregate_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # verify the required parameter 'bulk_aggregate_question_results_request' is set
      if @api_client.config.client_side_validation && bulk_aggregate_question_results_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_aggregate_question_results_request' when calling DefaultApi.bulk_aggregate_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/bulk'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_aggregate_question_results_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkAggregateQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.bulk_aggregate_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bulk_aggregate_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [CombineCommentsWithQuestionResults200Response]
    def combine_comments_with_question_results(tenant_id, opts = {})
      data, _status_code, _headers = combine_comments_with_question_results_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question_id 
    # @option opts [Array<String>] :question_ids 
    # @option opts [String] :url_id 
    # @option opts [Time] :start_date 
    # @option opts [Boolean] :force_recalculate 
    # @option opts [Float] :min_value 
    # @option opts [Float] :max_value 
    # @option opts [Float] :limit 
    # @return [Array<(CombineCommentsWithQuestionResults200Response, Integer, Hash)>] CombineCommentsWithQuestionResults200Response data, response status code and response headers
    def combine_comments_with_question_results_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.combine_comments_with_question_results ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.combine_comments_with_question_results"
      end
      # resource path
      local_var_path = '/api/v1/question-results-aggregation/combine/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'questionId'] = opts[:'question_id'] if !opts[:'question_id'].nil?
      query_params[:'questionIds'] = @api_client.build_collection_param(opts[:'question_ids'], :multi) if !opts[:'question_ids'].nil?
      query_params[:'urlId'] = opts[:'url_id'] if !opts[:'url_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'forceRecalculate'] = opts[:'force_recalculate'] if !opts[:'force_recalculate'].nil?
      query_params[:'minValue'] = opts[:'min_value'] if !opts[:'min_value'].nil?
      query_params[:'maxValue'] = opts[:'max_value'] if !opts[:'max_value'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CombineCommentsWithQuestionResults200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.combine_comments_with_question_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#combine_comments_with_question_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_email_template_body [CreateEmailTemplateBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEmailTemplate200Response]
    def create_email_template(tenant_id, create_email_template_body, opts = {})
      data, _status_code, _headers = create_email_template_with_http_info(tenant_id, create_email_template_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_email_template_body [CreateEmailTemplateBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEmailTemplate200Response, Integer, Hash)>] CreateEmailTemplate200Response data, response status code and response headers
    def create_email_template_with_http_info(tenant_id, create_email_template_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_email_template ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_email_template"
      end
      # verify the required parameter 'create_email_template_body' is set
      if @api_client.config.client_side_validation && create_email_template_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_email_template_body' when calling DefaultApi.create_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_email_template_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEmailTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [CreateFeedPost200Response]
    def create_feed_post(tenant_id, create_feed_post_params, opts = {})
      data, _status_code, _headers = create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [Boolean] :is_live 
    # @option opts [Boolean] :do_spam_check 
    # @option opts [Boolean] :skip_dup_check 
    # @return [Array<(CreateFeedPost200Response, Integer, Hash)>] CreateFeedPost200Response data, response status code and response headers
    def create_feed_post_with_http_info(tenant_id, create_feed_post_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_feed_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_feed_post"
      end
      # verify the required parameter 'create_feed_post_params' is set
      if @api_client.config.client_side_validation && create_feed_post_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_feed_post_params' when calling DefaultApi.create_feed_post"
      end
      # resource path
      local_var_path = '/api/v1/feed-posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?
      query_params[:'doSpamCheck'] = opts[:'do_spam_check'] if !opts[:'do_spam_check'].nil?
      query_params[:'skipDupCheck'] = opts[:'skip_dup_check'] if !opts[:'skip_dup_check'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_feed_post_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFeedPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_feed_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_feed_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_moderator_body [CreateModeratorBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateModerator200Response]
    def create_moderator(tenant_id, create_moderator_body, opts = {})
      data, _status_code, _headers = create_moderator_with_http_info(tenant_id, create_moderator_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_moderator_body [CreateModeratorBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateModerator200Response, Integer, Hash)>] CreateModerator200Response data, response status code and response headers
    def create_moderator_with_http_info(tenant_id, create_moderator_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_moderator ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_moderator"
      end
      # verify the required parameter 'create_moderator_body' is set
      if @api_client.config.client_side_validation && create_moderator_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_moderator_body' when calling DefaultApi.create_moderator"
      end
      # resource path
      local_var_path = '/api/v1/moderators'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_moderator_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateModerator200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_moderator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_moderator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_question_config_body [CreateQuestionConfigBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateQuestionConfig200Response]
    def create_question_config(tenant_id, create_question_config_body, opts = {})
      data, _status_code, _headers = create_question_config_with_http_info(tenant_id, create_question_config_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_question_config_body [CreateQuestionConfigBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateQuestionConfig200Response, Integer, Hash)>] CreateQuestionConfig200Response data, response status code and response headers
    def create_question_config_with_http_info(tenant_id, create_question_config_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_question_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_question_config"
      end
      # verify the required parameter 'create_question_config_body' is set
      if @api_client.config.client_side_validation && create_question_config_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_question_config_body' when calling DefaultApi.create_question_config"
      end
      # resource path
      local_var_path = '/api/v1/question-configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_question_config_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateQuestionConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_question_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_question_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_question_result_body [CreateQuestionResultBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateQuestionResult200Response]
    def create_question_result(tenant_id, create_question_result_body, opts = {})
      data, _status_code, _headers = create_question_result_with_http_info(tenant_id, create_question_result_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_question_result_body [CreateQuestionResultBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateQuestionResult200Response, Integer, Hash)>] CreateQuestionResult200Response data, response status code and response headers
    def create_question_result_with_http_info(tenant_id, create_question_result_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_question_result ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_question_result"
      end
      # verify the required parameter 'create_question_result_body' is set
      if @api_client.config.client_side_validation && create_question_result_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_question_result_body' when calling DefaultApi.create_question_result"
      end
      # resource path
      local_var_path = '/api/v1/question-results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_question_result_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateQuestionResult200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_question_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_question_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscriptionAPIResponse]
    def create_subscription(tenant_id, create_api_user_subscription_data, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_api_user_subscription_data [CreateAPIUserSubscriptionData] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscriptionAPIResponse, Integer, Hash)>] CreateSubscriptionAPIResponse data, response status code and response headers
    def create_subscription_with_http_info(tenant_id, create_api_user_subscription_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_subscription ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_subscription"
      end
      # verify the required parameter 'create_api_user_subscription_data' is set
      if @api_client.config.client_side_validation && create_api_user_subscription_data.nil?
        fail ArgumentError, "Missing the required parameter 'create_api_user_subscription_data' when calling DefaultApi.create_subscription"
      end
      # resource path
      local_var_path = '/api/v1/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_api_user_subscription_data)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscriptionAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_body [CreateTenantBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenant200Response]
    def create_tenant(tenant_id, create_tenant_body, opts = {})
      data, _status_code, _headers = create_tenant_with_http_info(tenant_id, create_tenant_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_body [CreateTenantBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenant200Response, Integer, Hash)>] CreateTenant200Response data, response status code and response headers
    def create_tenant_with_http_info(tenant_id, create_tenant_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant"
      end
      # verify the required parameter 'create_tenant_body' is set
      if @api_client.config.client_side_validation && create_tenant_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_body' when calling DefaultApi.create_tenant"
      end
      # resource path
      local_var_path = '/api/v1/tenants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenant200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_package_body [CreateTenantPackageBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantPackage200Response]
    def create_tenant_package(tenant_id, create_tenant_package_body, opts = {})
      data, _status_code, _headers = create_tenant_package_with_http_info(tenant_id, create_tenant_package_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_package_body [CreateTenantPackageBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantPackage200Response, Integer, Hash)>] CreateTenantPackage200Response data, response status code and response headers
    def create_tenant_package_with_http_info(tenant_id, create_tenant_package_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant_package ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant_package"
      end
      # verify the required parameter 'create_tenant_package_body' is set
      if @api_client.config.client_side_validation && create_tenant_package_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_package_body' when calling DefaultApi.create_tenant_package"
      end
      # resource path
      local_var_path = '/api/v1/tenant-packages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_package_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantPackage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant_package",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant_package\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_tenant_user_body [CreateTenantUserBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTenantUser200Response]
    def create_tenant_user(tenant_id, create_tenant_user_body, opts = {})
      data, _status_code, _headers = create_tenant_user_with_http_info(tenant_id, create_tenant_user_body, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_tenant_user_body [CreateTenantUserBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTenantUser200Response, Integer, Hash)>] CreateTenantUser200Response data, response status code and response headers
    def create_tenant_user_with_http_info(tenant_id, create_tenant_user_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_tenant_user ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_tenant_user"
      end
      # verify the required parameter 'create_tenant_user_body' is set
      if @api_client.config.client_side_validation && create_tenant_user_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_tenant_user_body' when calling DefaultApi.create_tenant_user"
      end
      # resource path
      local_var_path = '/api/v1/tenant-users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tenant_user_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTenantUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_tenant_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_tenant_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [CreateUserBadge200Response]
    def create_user_badge(tenant_id, create_user_badge_params, opts = {})
      data, _status_code, _headers = create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_user_badge_params [CreateUserBadgeParams] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateUserBadge200Response, Integer, Hash)>] CreateUserBadge200Response data, response status code and response headers
    def create_user_badge_with_http_info(tenant_id, create_user_badge_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_user_badge ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_user_badge"
      end
      # verify the required parameter 'create_user_badge_params' is set
      if @api_client.config.client_side_validation && create_user_badge_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_user_badge_params' when calling DefaultApi.create_user_badge"
      end
      # resource path
      local_var_path = '/api/v1/user-badges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_user_badge_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUserBadge200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_user_badge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_user_badge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param direction [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [VoteComment200Response]
    def create_vote(tenant_id, comment_id, direction, opts = {})
      data, _status_code, _headers = create_vote_with_http_info(tenant_id, comment_id, direction, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param direction [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :anon_user_id 
    # @return [Array<(VoteComment200Response, Integer, Hash)>] VoteComment200Response data, response status code and response headers
    def create_vote_with_http_info(tenant_id, comment_id, direction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_vote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.create_vote"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling DefaultApi.create_vote"
      end
      # verify the required parameter 'direction' is set
      if @api_client.config.client_side_validation && direction.nil?
        fail ArgumentError, "Missing the required parameter 'direction' when calling DefaultApi.create_vote"
      end
      # verify enum value
      allowable_values = ["up", "down"]
      if @api_client.config.client_side_validation && !allowable_values.include?(direction)
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/votes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'commentId'] = comment_id
      query_params[:'direction'] = direction
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'anonUserId'] = opts[:'anon_user_id'] if !opts[:'anon_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VoteComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_vote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_vote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [DeleteComment200Response]
    def delete_comment(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_comment_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :context_user_id 
    # @option opts [Boolean] :is_live 
    # @return [Array<(DeleteComment200Response, Integer, Hash)>] DeleteComment200Response data, response status code and response headers
    def delete_comment_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_comment"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_comment"
      end
      # resource path
      local_var_path = '/api/v1/comments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'contextUserId'] = opts[:'context_user_id'] if !opts[:'context_user_id'].nil?
      query_params[:'isLive'] = opts[:'is_live'] if !opts[:'is_live'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDomainConfig200Response]
    def delete_domain_config(tenant_id, domain, opts = {})
      data, _status_code, _headers = delete_domain_config_with_http_info(tenant_id, domain, opts)
      data
    end

    # @param tenant_id [String] 
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDomainConfig200Response, Integer, Hash)>] DeleteDomainConfig200Response data, response status code and response headers
    def delete_domain_config_with_http_info(tenant_id, domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_domain_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_domain_config"
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DefaultApi.delete_domain_config"
      end
      # resource path
      local_var_path = '/api/v1/domain-configs/{domain}'.sub('{' + 'domain' + '}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDomainConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_domain_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_domain_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_email_template(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_email_template_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_email_template_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email_template ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_email_template"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_email_template"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param error_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_email_template_render_error(tenant_id, id, error_id, opts = {})
      data, _status_code, _headers = delete_email_template_render_error_with_http_info(tenant_id, id, error_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param error_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_email_template_render_error_with_http_info(tenant_id, id, error_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email_template_render_error ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_email_template_render_error"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_email_template_render_error"
      end
      # verify the required parameter 'error_id' is set
      if @api_client.config.client_side_validation && error_id.nil?
        fail ArgumentError, "Missing the required parameter 'error_id' when calling DefaultApi.delete_email_template_render_error"
      end
      # resource path
      local_var_path = '/api/v1/email-templates/{id}/render-errors/{errorId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'errorId' + '}', CGI.escape(error_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email_template_render_error",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email_template_render_error\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [DeleteHashTagRequest] :delete_hash_tag_request 
    # @return [FlagCommentPublic200Response]
    def delete_hash_tag(tag, opts = {})
      data, _status_code, _headers = delete_hash_tag_with_http_info(tag, opts)
      data
    end

    # @param tag [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [DeleteHashTagRequest] :delete_hash_tag_request 
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_hash_tag_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_hash_tag ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling DefaultApi.delete_hash_tag"
      end
      # resource path
      local_var_path = '/api/v1/hash-tags/{tag}'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_hash_tag_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_hash_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_hash_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_email 
    # @return [FlagCommentPublic200Response]
    def delete_moderator(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_moderator_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :send_email 
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_moderator_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_moderator ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_moderator"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_moderator"
      end
      # resource path
      local_var_path = '/api/v1/moderators/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sendEmail'] = opts[:'send_email'] if !opts[:'send_email'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_moderator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_moderator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_notification_count(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_notification_count_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_notification_count_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_notification_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_notification_count"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_notification_count"
      end
      # resource path
      local_var_path = '/api/v1/notification-count/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_notification_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_notification_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePageAPIResponse]
    def delete_page(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_page_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePageAPIResponse, Integer, Hash)>] DeletePageAPIResponse data, response status code and response headers
    def delete_page_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_page ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_page"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_page"
      end
      # resource path
      local_var_path = '/api/v1/pages/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePageAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_pending_webhook_event(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_pending_webhook_event_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_pending_webhook_event_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_pending_webhook_event ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_pending_webhook_event"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_pending_webhook_event"
      end
      # resource path
      local_var_path = '/api/v1/pending-webhook-events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_pending_webhook_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_pending_webhook_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_question_config(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_question_config_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_question_config_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_question_config ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_question_config"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_question_config"
      end
      # resource path
      local_var_path = '/api/v1/question-configs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_question_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_question_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FlagCommentPublic200Response]
    def delete_question_result(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_question_result_with_http_info(tenant_id, id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def delete_question_result_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_question_result ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DefaultApi.delete_question_result"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_question_result"
      end
      # resource path
      local_var_path = '/api/v1/question-results/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_question_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
[...]
