=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module FastCommentsClient
  class ModerationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param comment_id [String] 
    # @param vote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [VoteDeleteResponse]
    def delete_moderation_vote(comment_id, vote_id, opts = {})
      data, _status_code, _headers = delete_moderation_vote_with_http_info(comment_id, vote_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param vote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(VoteDeleteResponse, Integer, Hash)>] VoteDeleteResponse data, response status code and response headers
    def delete_moderation_vote_with_http_info(comment_id, vote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.delete_moderation_vote ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.delete_moderation_vote"
      end
      # verify the required parameter 'vote_id' is set
      if @api_client.config.client_side_validation && vote_id.nil?
        fail ArgumentError, "Missing the required parameter 'vote_id' when calling ModerationApi.delete_moderation_vote"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/vote/{commentId}/{voteId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s)).sub('{' + 'voteId' + '}', CGI.escape(vote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VoteDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.delete_moderation_vote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#delete_moderation_vote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page 
    # @option opts [Float] :count 
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sorts 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [ModerationAPIGetCommentsResponse]
    def get_api_comments(opts = {})
      data, _status_code, _headers = get_api_comments_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Float] :page 
    # @option opts [Float] :count 
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sorts 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPIGetCommentsResponse, Integer, Hash)>] ModerationAPIGetCommentsResponse data, response status code and response headers
    def get_api_comments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_api_comments ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/api/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'text-search'] = opts[:'text_search'] if !opts[:'text_search'].nil?
      query_params[:'byIPFromComment'] = opts[:'by_ip_from_comment'] if !opts[:'by_ip_from_comment'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'searchFilters'] = opts[:'search_filters'] if !opts[:'search_filters'].nil?
      query_params[:'sorts'] = opts[:'sorts'] if !opts[:'sorts'].nil?
      query_params[:'demo'] = opts[:'demo'] if !opts[:'demo'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPIGetCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_api_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_api_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :batch_job_id 
    # @option opts [String] :sso 
    # @return [ModerationExportStatusResponse]
    def get_api_export_status(opts = {})
      data, _status_code, _headers = get_api_export_status_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :batch_job_id 
    # @option opts [String] :sso 
    # @return [Array<(ModerationExportStatusResponse, Integer, Hash)>] ModerationExportStatusResponse data, response status code and response headers
    def get_api_export_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_api_export_status ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/api/export/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'batchJobId'] = opts[:'batch_job_id'] if !opts[:'batch_job_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationExportStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_api_export_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_api_export_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :after_id 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [ModerationAPIGetCommentIdsResponse]
    def get_api_ids(opts = {})
      data, _status_code, _headers = get_api_ids_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :after_id 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPIGetCommentIdsResponse, Integer, Hash)>] ModerationAPIGetCommentIdsResponse data, response status code and response headers
    def get_api_ids_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_api_ids ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/api/ids'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text-search'] = opts[:'text_search'] if !opts[:'text_search'].nil?
      query_params[:'byIPFromComment'] = opts[:'by_ip_from_comment'] if !opts[:'by_ip_from_comment'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'searchFilters'] = opts[:'search_filters'] if !opts[:'search_filters'].nil?
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'demo'] = opts[:'demo'] if !opts[:'demo'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPIGetCommentIdsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_api_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_api_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetBannedUsersFromCommentResponse]
    def get_ban_users_from_comment(comment_id, opts = {})
      data, _status_code, _headers = get_ban_users_from_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetBannedUsersFromCommentResponse, Integer, Hash)>] GetBannedUsersFromCommentResponse data, response status code and response headers
    def get_ban_users_from_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_ban_users_from_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_ban_users_from_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/ban-users/from-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBannedUsersFromCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_ban_users_from_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_ban_users_from_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetCommentBanStatusResponse]
    def get_comment_ban_status(comment_id, opts = {})
      data, _status_code, _headers = get_comment_ban_status_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetCommentBanStatusResponse, Integer, Hash)>] GetCommentBanStatusResponse data, response status code and response headers
    def get_comment_ban_status_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_comment_ban_status ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_comment_ban_status"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-comment-ban-status/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentBanStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_comment_ban_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_comment_ban_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [ModerationAPIChildCommentsResponse]
    def get_comment_children(comment_id, opts = {})
      data, _status_code, _headers = get_comment_children_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPIChildCommentsResponse, Integer, Hash)>] ModerationAPIChildCommentsResponse data, response status code and response headers
    def get_comment_children_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_comment_children ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_comment_children"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/comment-children/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPIChildCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_comment_children",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_comment_children\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filter 
    # @option opts [String] :search_filters 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [ModerationAPICountCommentsResponse]
    def get_count(opts = {})
      data, _status_code, _headers = get_count_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filter 
    # @option opts [String] :search_filters 
    # @option opts [Boolean] :demo 
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPICountCommentsResponse, Integer, Hash)>] ModerationAPICountCommentsResponse data, response status code and response headers
    def get_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_count ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text-search'] = opts[:'text_search'] if !opts[:'text_search'].nil?
      query_params[:'byIPFromComment'] = opts[:'by_ip_from_comment'] if !opts[:'by_ip_from_comment'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'searchFilters'] = opts[:'search_filters'] if !opts[:'search_filters'].nil?
      query_params[:'demo'] = opts[:'demo'] if !opts[:'demo'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPICountCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetBannedUsersCountResponse]
    def get_counts(opts = {})
      data, _status_code, _headers = get_counts_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetBannedUsersCountResponse, Integer, Hash)>] GetBannedUsersCountResponse data, response status code and response headers
    def get_counts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_counts ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/banned-users/counts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBannedUsersCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_counts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_counts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [ModerationAPIGetLogsResponse]
    def get_logs(comment_id, opts = {})
      data, _status_code, _headers = get_logs_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPIGetLogsResponse, Integer, Hash)>] ModerationAPIGetLogsResponse data, response status code and response headers
    def get_logs_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_logs ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_logs"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/logs/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPIGetLogsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetTenantManualBadgesResponse]
    def get_manual_badges(opts = {})
      data, _status_code, _headers = get_manual_badges_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetTenantManualBadgesResponse, Integer, Hash)>] GetTenantManualBadgesResponse data, response status code and response headers
    def get_manual_badges_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_manual_badges ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-manual-badges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTenantManualBadgesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_manual_badges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_manual_badges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :badges_user_id 
    # @option opts [String] :comment_id 
    # @option opts [String] :sso 
    # @return [GetUserManualBadgesResponse]
    def get_manual_badges_for_user(opts = {})
      data, _status_code, _headers = get_manual_badges_for_user_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :badges_user_id 
    # @option opts [String] :comment_id 
    # @option opts [String] :sso 
    # @return [Array<(GetUserManualBadgesResponse, Integer, Hash)>] GetUserManualBadgesResponse data, response status code and response headers
    def get_manual_badges_for_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_manual_badges_for_user ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-manual-badges-for-user'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'badgesUserId'] = opts[:'badges_user_id'] if !opts[:'badges_user_id'].nil?
      query_params[:'commentId'] = opts[:'comment_id'] if !opts[:'comment_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserManualBadgesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_manual_badges_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_manual_badges_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_email 
    # @option opts [Boolean] :include_ip 
    # @option opts [String] :sso 
    # @return [ModerationAPICommentResponse]
    def get_moderation_comment(comment_id, opts = {})
      data, _status_code, _headers = get_moderation_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_email 
    # @option opts [Boolean] :include_ip 
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPICommentResponse, Integer, Hash)>] ModerationAPICommentResponse data, response status code and response headers
    def get_moderation_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_moderation_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_moderation_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeEmail'] = opts[:'include_email'] if !opts[:'include_email'].nil?
      query_params[:'includeIP'] = opts[:'include_ip'] if !opts[:'include_ip'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPICommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_moderation_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_moderation_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetCommentTextResponse]
    def get_moderation_comment_text(comment_id, opts = {})
      data, _status_code, _headers = get_moderation_comment_text_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetCommentTextResponse, Integer, Hash)>] GetCommentTextResponse data, response status code and response headers
    def get_moderation_comment_text_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_moderation_comment_text ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_moderation_comment_text"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-comment-text/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentTextResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_moderation_comment_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_moderation_comment_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_by_user_id_and_email 
    # @option opts [Boolean] :include_by_ip 
    # @option opts [Boolean] :include_by_email_domain 
    # @option opts [String] :sso 
    # @return [PreBanSummary]
    def get_pre_ban_summary(comment_id, opts = {})
      data, _status_code, _headers = get_pre_ban_summary_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_by_user_id_and_email 
    # @option opts [Boolean] :include_by_ip 
    # @option opts [Boolean] :include_by_email_domain 
    # @option opts [String] :sso 
    # @return [Array<(PreBanSummary, Integer, Hash)>] PreBanSummary data, response status code and response headers
    def get_pre_ban_summary_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_pre_ban_summary ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.get_pre_ban_summary"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/pre-ban-summary/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeByUserIdAndEmail'] = opts[:'include_by_user_id_and_email'] if !opts[:'include_by_user_id_and_email'].nil?
      query_params[:'includeByIP'] = opts[:'include_by_ip'] if !opts[:'include_by_ip'].nil?
      query_params[:'includeByEmailDomain'] = opts[:'include_by_email_domain'] if !opts[:'include_by_email_domain'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreBanSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_pre_ban_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_pre_ban_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sso 
    # @return [ModerationCommentSearchResponse]
    def get_search_comments_summary(opts = {})
      data, _status_code, _headers = get_search_comments_summary_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sso 
    # @return [Array<(ModerationCommentSearchResponse, Integer, Hash)>] ModerationCommentSearchResponse data, response status code and response headers
    def get_search_comments_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_search_comments_summary ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/search/comments/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'searchFilters'] = opts[:'search_filters'] if !opts[:'search_filters'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationCommentSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_search_comments_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_search_comments_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [ModerationPageSearchResponse]
    def get_search_pages(opts = {})
      data, _status_code, _headers = get_search_pages_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [Array<(ModerationPageSearchResponse, Integer, Hash)>] ModerationPageSearchResponse data, response status code and response headers
    def get_search_pages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_search_pages ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/search/pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationPageSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_search_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_search_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [ModerationSiteSearchResponse]
    def get_search_sites(opts = {})
      data, _status_code, _headers = get_search_sites_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [Array<(ModerationSiteSearchResponse, Integer, Hash)>] ModerationSiteSearchResponse data, response status code and response headers
    def get_search_sites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_search_sites ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/search/sites'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationSiteSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_search_sites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_search_sites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :sso 
    # @return [ModerationSuggestResponse]
    def get_search_suggest(opts = {})
      data, _status_code, _headers = get_search_suggest_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :sso 
    # @return [Array<(ModerationSuggestResponse, Integer, Hash)>] ModerationSuggestResponse data, response status code and response headers
    def get_search_suggest_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_search_suggest ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/search/suggest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text-search'] = opts[:'text_search'] if !opts[:'text_search'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationSuggestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_search_suggest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_search_suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [ModerationUserSearchResponse]
    def get_search_users(opts = {})
      data, _status_code, _headers = get_search_users_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :value 
    # @option opts [String] :sso 
    # @return [Array<(ModerationUserSearchResponse, Integer, Hash)>] ModerationUserSearchResponse data, response status code and response headers
    def get_search_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_search_users ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationUserSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :sso 
    # @return [GetUserTrustFactorResponse]
    def get_trust_factor(opts = {})
      data, _status_code, _headers = get_trust_factor_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :sso 
    # @return [Array<(GetUserTrustFactorResponse, Integer, Hash)>] GetUserTrustFactorResponse data, response status code and response headers
    def get_trust_factor_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_trust_factor ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-trust-factor'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserTrustFactorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_trust_factor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_trust_factor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [APIModerateGetUserBanPreferencesResponse]
    def get_user_ban_preference(opts = {})
      data, _status_code, _headers = get_user_ban_preference_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(APIModerateGetUserBanPreferencesResponse, Integer, Hash)>] APIModerateGetUserBanPreferencesResponse data, response status code and response headers
    def get_user_ban_preference_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_user_ban_preference ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/user-ban-preference'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIModerateGetUserBanPreferencesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_user_ban_preference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_user_ban_preference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :comment_id 
    # @option opts [String] :sso 
    # @return [GetUserInternalProfileResponse]
    def get_user_internal_profile(opts = {})
      data, _status_code, _headers = get_user_internal_profile_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :comment_id 
    # @option opts [String] :sso 
    # @return [Array<(GetUserInternalProfileResponse, Integer, Hash)>] GetUserInternalProfileResponse data, response status code and response headers
    def get_user_internal_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.get_user_internal_profile ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/get-user-internal-profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'commentId'] = opts[:'comment_id'] if !opts[:'comment_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserInternalProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.get_user_internal_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#get_user_internal_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param adjust_comment_votes_params [AdjustCommentVotesParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [AdjustVotesResponse]
    def post_adjust_comment_votes(comment_id, adjust_comment_votes_params, opts = {})
      data, _status_code, _headers = post_adjust_comment_votes_with_http_info(comment_id, adjust_comment_votes_params, opts)
      data
    end

    # @param comment_id [String] 
    # @param adjust_comment_votes_params [AdjustCommentVotesParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(AdjustVotesResponse, Integer, Hash)>] AdjustVotesResponse data, response status code and response headers
    def post_adjust_comment_votes_with_http_info(comment_id, adjust_comment_votes_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_adjust_comment_votes ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_adjust_comment_votes"
      end
      # verify the required parameter 'adjust_comment_votes_params' is set
      if @api_client.config.client_side_validation && adjust_comment_votes_params.nil?
        fail ArgumentError, "Missing the required parameter 'adjust_comment_votes_params' when calling ModerationApi.post_adjust_comment_votes"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/adjust-comment-votes/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(adjust_comment_votes_params)

      # return_type
      return_type = opts[:debug_return_type] || 'AdjustVotesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_adjust_comment_votes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_adjust_comment_votes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sorts 
    # @option opts [String] :sso 
    # @return [ModerationExportResponse]
    def post_api_export(opts = {})
      data, _status_code, _headers = post_api_export_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :text_search 
    # @option opts [String] :by_ip_from_comment 
    # @option opts [String] :filters 
    # @option opts [String] :search_filters 
    # @option opts [String] :sorts 
    # @option opts [String] :sso 
    # @return [Array<(ModerationExportResponse, Integer, Hash)>] ModerationExportResponse data, response status code and response headers
    def post_api_export_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_api_export ...'
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/api/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'text-search'] = opts[:'text_search'] if !opts[:'text_search'].nil?
      query_params[:'byIPFromComment'] = opts[:'by_ip_from_comment'] if !opts[:'by_ip_from_comment'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'searchFilters'] = opts[:'search_filters'] if !opts[:'search_filters'].nil?
      query_params[:'sorts'] = opts[:'sorts'] if !opts[:'sorts'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationExportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_api_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_api_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :ban_email 
    # @option opts [Boolean] :ban_email_domain 
    # @option opts [Boolean] :ban_ip 
    # @option opts [Boolean] :delete_all_users_comments 
    # @option opts [String] :banned_until 
    # @option opts [Boolean] :is_shadow_ban 
    # @option opts [String] :update_id 
    # @option opts [String] :ban_reason 
    # @option opts [String] :sso 
    # @return [BanUserFromCommentResult]
    def post_ban_user_from_comment(comment_id, opts = {})
      data, _status_code, _headers = post_ban_user_from_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :ban_email 
    # @option opts [Boolean] :ban_email_domain 
    # @option opts [Boolean] :ban_ip 
    # @option opts [Boolean] :delete_all_users_comments 
    # @option opts [String] :banned_until 
    # @option opts [Boolean] :is_shadow_ban 
    # @option opts [String] :update_id 
    # @option opts [String] :ban_reason 
    # @option opts [String] :sso 
    # @return [Array<(BanUserFromCommentResult, Integer, Hash)>] BanUserFromCommentResult data, response status code and response headers
    def post_ban_user_from_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_ban_user_from_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_ban_user_from_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/ban-user/from-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'banEmail'] = opts[:'ban_email'] if !opts[:'ban_email'].nil?
      query_params[:'banEmailDomain'] = opts[:'ban_email_domain'] if !opts[:'ban_email_domain'].nil?
      query_params[:'banIP'] = opts[:'ban_ip'] if !opts[:'ban_ip'].nil?
      query_params[:'deleteAllUsersComments'] = opts[:'delete_all_users_comments'] if !opts[:'delete_all_users_comments'].nil?
      query_params[:'bannedUntil'] = opts[:'banned_until'] if !opts[:'banned_until'].nil?
      query_params[:'isShadowBan'] = opts[:'is_shadow_ban'] if !opts[:'is_shadow_ban'].nil?
      query_params[:'updateId'] = opts[:'update_id'] if !opts[:'update_id'].nil?
      query_params[:'banReason'] = opts[:'ban_reason'] if !opts[:'ban_reason'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BanUserFromCommentResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_ban_user_from_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_ban_user_from_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param ban_user_undo_params [BanUserUndoParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_ban_user_undo(ban_user_undo_params, opts = {})
      data, _status_code, _headers = post_ban_user_undo_with_http_info(ban_user_undo_params, opts)
      data
    end

    # @param ban_user_undo_params [BanUserUndoParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_ban_user_undo_with_http_info(ban_user_undo_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_ban_user_undo ...'
      end
      # verify the required parameter 'ban_user_undo_params' is set
      if @api_client.config.client_side_validation && ban_user_undo_params.nil?
        fail ArgumentError, "Missing the required parameter 'ban_user_undo_params' when calling ModerationApi.post_ban_user_undo"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/ban-user/undo'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ban_user_undo_params)

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_ban_user_undo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_ban_user_undo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param bulk_pre_ban_params [BulkPreBanParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_by_user_id_and_email 
    # @option opts [Boolean] :include_by_ip 
    # @option opts [Boolean] :include_by_email_domain 
    # @option opts [String] :sso 
    # @return [BulkPreBanSummary]
    def post_bulk_pre_ban_summary(bulk_pre_ban_params, opts = {})
      data, _status_code, _headers = post_bulk_pre_ban_summary_with_http_info(bulk_pre_ban_params, opts)
      data
    end

    # @param bulk_pre_ban_params [BulkPreBanParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_by_user_id_and_email 
    # @option opts [Boolean] :include_by_ip 
    # @option opts [Boolean] :include_by_email_domain 
    # @option opts [String] :sso 
    # @return [Array<(BulkPreBanSummary, Integer, Hash)>] BulkPreBanSummary data, response status code and response headers
    def post_bulk_pre_ban_summary_with_http_info(bulk_pre_ban_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_bulk_pre_ban_summary ...'
      end
      # verify the required parameter 'bulk_pre_ban_params' is set
      if @api_client.config.client_side_validation && bulk_pre_ban_params.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_pre_ban_params' when calling ModerationApi.post_bulk_pre_ban_summary"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/bulk-pre-ban-summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeByUserIdAndEmail'] = opts[:'include_by_user_id_and_email'] if !opts[:'include_by_user_id_and_email'].nil?
      query_params[:'includeByIP'] = opts[:'include_by_ip'] if !opts[:'include_by_ip'].nil?
      query_params[:'includeByEmailDomain'] = opts[:'include_by_email_domain'] if !opts[:'include_by_email_domain'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_pre_ban_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkPreBanSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_bulk_pre_ban_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_bulk_pre_ban_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comments_by_ids_params [CommentsByIdsParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [ModerationAPIChildCommentsResponse]
    def post_comments_by_ids(comments_by_ids_params, opts = {})
      data, _status_code, _headers = post_comments_by_ids_with_http_info(comments_by_ids_params, opts)
      data
    end

    # @param comments_by_ids_params [CommentsByIdsParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(ModerationAPIChildCommentsResponse, Integer, Hash)>] ModerationAPIChildCommentsResponse data, response status code and response headers
    def post_comments_by_ids_with_http_info(comments_by_ids_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_comments_by_ids ...'
      end
      # verify the required parameter 'comments_by_ids_params' is set
      if @api_client.config.client_side_validation && comments_by_ids_params.nil?
        fail ArgumentError, "Missing the required parameter 'comments_by_ids_params' when calling ModerationApi.post_comments_by_ids"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/comments-by-ids'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(comments_by_ids_params)

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationAPIChildCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_comments_by_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_comments_by_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_flag_comment(comment_id, opts = {})
      data, _status_code, _headers = post_flag_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_flag_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_flag_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_flag_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/flag-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_flag_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_flag_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [PostRemoveCommentResponse]
    def post_remove_comment(comment_id, opts = {})
      data, _status_code, _headers = post_remove_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(PostRemoveCommentResponse, Integer, Hash)>] PostRemoveCommentResponse data, response status code and response headers
    def post_remove_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_remove_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_remove_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/remove-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostRemoveCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_remove_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_remove_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_restore_deleted_comment(comment_id, opts = {})
      data, _status_code, _headers = post_restore_deleted_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_restore_deleted_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_restore_deleted_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_restore_deleted_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/restore-deleted-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_restore_deleted_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_restore_deleted_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :approved 
    # @option opts [String] :sso 
    # @return [SetCommentApprovedResponse]
    def post_set_comment_approval_status(comment_id, opts = {})
      data, _status_code, _headers = post_set_comment_approval_status_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :approved 
    # @option opts [String] :sso 
    # @return [Array<(SetCommentApprovedResponse, Integer, Hash)>] SetCommentApprovedResponse data, response status code and response headers
    def post_set_comment_approval_status_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_set_comment_approval_status ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_set_comment_approval_status"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/set-comment-approval-status/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'approved'] = opts[:'approved'] if !opts[:'approved'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetCommentApprovedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_set_comment_approval_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_set_comment_approval_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :reviewed 
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_set_comment_review_status(comment_id, opts = {})
      data, _status_code, _headers = post_set_comment_review_status_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :reviewed 
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_set_comment_review_status_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_set_comment_review_status ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_set_comment_review_status"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/set-comment-review-status/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reviewed'] = opts[:'reviewed'] if !opts[:'reviewed'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_set_comment_review_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_set_comment_review_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :spam 
    # @option opts [Boolean] :perm_not_spam 
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_set_comment_spam_status(comment_id, opts = {})
      data, _status_code, _headers = post_set_comment_spam_status_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :spam 
    # @option opts [Boolean] :perm_not_spam 
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_set_comment_spam_status_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_set_comment_spam_status ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_set_comment_spam_status"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/set-comment-spam-status/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'spam'] = opts[:'spam'] if !opts[:'spam'].nil?
      query_params[:'permNotSpam'] = opts[:'perm_not_spam'] if !opts[:'perm_not_spam'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_set_comment_spam_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_set_comment_spam_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param set_comment_text_params [SetCommentTextParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [SetCommentTextResponse]
    def post_set_comment_text(comment_id, set_comment_text_params, opts = {})
      data, _status_code, _headers = post_set_comment_text_with_http_info(comment_id, set_comment_text_params, opts)
      data
    end

    # @param comment_id [String] 
    # @param set_comment_text_params [SetCommentTextParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(SetCommentTextResponse, Integer, Hash)>] SetCommentTextResponse data, response status code and response headers
    def post_set_comment_text_with_http_info(comment_id, set_comment_text_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_set_comment_text ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_set_comment_text"
      end
      # verify the required parameter 'set_comment_text_params' is set
      if @api_client.config.client_side_validation && set_comment_text_params.nil?
        fail ArgumentError, "Missing the required parameter 'set_comment_text_params' when calling ModerationApi.post_set_comment_text"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/set-comment-text/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_comment_text_params)

      # return_type
      return_type = opts[:debug_return_type] || 'SetCommentTextResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ModerationApi.post_set_comment_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModerationApi#post_set_comment_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def post_un_flag_comment(comment_id, opts = {})
      data, _status_code, _headers = post_un_flag_comment_with_http_info(comment_id, opts)
      data
    end

    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def post_un_flag_comment_with_http_info(comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModerationApi.post_un_flag_comment ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling ModerationApi.post_un_flag_comment"
      end
      # resource path
      local_var_path = '/auth/my-account/moderate-comments/un-flag-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
[...]
