=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0-SNAPSHOT

=end

require 'cgi'

module FastCommentsClient
  class PublicApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param public_block_from_comment_params [PublicBlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [BlockFromCommentPublic200Response]
    def block_from_comment_public(tenant_id, comment_id, public_block_from_comment_params, opts = {})
      data, _status_code, _headers = block_from_comment_public_with_http_info(tenant_id, comment_id, public_block_from_comment_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param public_block_from_comment_params [PublicBlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(BlockFromCommentPublic200Response, Integer, Hash)>] BlockFromCommentPublic200Response data, response status code and response headers
    def block_from_comment_public_with_http_info(tenant_id, comment_id, public_block_from_comment_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.block_from_comment_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.block_from_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.block_from_comment_public"
      end
      # verify the required parameter 'public_block_from_comment_params' is set
      if @api_client.config.client_side_validation && public_block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'public_block_from_comment_params' when calling PublicApi.block_from_comment_public"
      end
      # resource path
      local_var_path = '/block-from-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(public_block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BlockFromCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.block_from_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#block_from_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_ids [String] A comma separated list of comment ids.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [CheckedCommentsForBlocked200Response]
    def checked_comments_for_blocked(tenant_id, comment_ids, opts = {})
      data, _status_code, _headers = checked_comments_for_blocked_with_http_info(tenant_id, comment_ids, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_ids [String] A comma separated list of comment ids.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(CheckedCommentsForBlocked200Response, Integer, Hash)>] CheckedCommentsForBlocked200Response data, response status code and response headers
    def checked_comments_for_blocked_with_http_info(tenant_id, comment_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.checked_comments_for_blocked ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.checked_comments_for_blocked"
      end
      # verify the required parameter 'comment_ids' is set
      if @api_client.config.client_side_validation && comment_ids.nil?
        fail ArgumentError, "Missing the required parameter 'comment_ids' when calling PublicApi.checked_comments_for_blocked"
      end
      # resource path
      local_var_path = '/check-blocked-comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'commentIds'] = comment_ids
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckedCommentsForBlocked200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.checked_comments_for_blocked",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#checked_comments_for_blocked\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param broadcast_id [String] 
    # @param comment_data [CommentData] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id 
    # @option opts [String] :sso 
    # @return [CreateCommentPublic200Response]
    def create_comment_public(tenant_id, url_id, broadcast_id, comment_data, opts = {})
      data, _status_code, _headers = create_comment_public_with_http_info(tenant_id, url_id, broadcast_id, comment_data, opts)
      data
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param broadcast_id [String] 
    # @param comment_data [CommentData] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id 
    # @option opts [String] :sso 
    # @return [Array<(CreateCommentPublic200Response, Integer, Hash)>] CreateCommentPublic200Response data, response status code and response headers
    def create_comment_public_with_http_info(tenant_id, url_id, broadcast_id, comment_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_comment_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'comment_data' is set
      if @api_client.config.client_side_validation && comment_data.nil?
        fail ArgumentError, "Missing the required parameter 'comment_data' when calling PublicApi.create_comment_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(comment_data)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [CreateFeedPostPublic200Response]
    def create_feed_post_public(tenant_id, create_feed_post_params, opts = {})
      data, _status_code, _headers = create_feed_post_public_with_http_info(tenant_id, create_feed_post_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param create_feed_post_params [CreateFeedPostParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [Array<(CreateFeedPostPublic200Response, Integer, Hash)>] CreateFeedPostPublic200Response data, response status code and response headers
    def create_feed_post_public_with_http_info(tenant_id, create_feed_post_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_feed_post_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_feed_post_public"
      end
      # verify the required parameter 'create_feed_post_params' is set
      if @api_client.config.client_side_validation && create_feed_post_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_feed_post_params' when calling PublicApi.create_feed_post_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_feed_post_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFeedPostPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_feed_post_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_feed_post_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [DeleteCommentPublic200Response]
    def delete_comment_public(tenant_id, comment_id, broadcast_id, opts = {})
      data, _status_code, _headers = delete_comment_public_with_http_info(tenant_id, comment_id, broadcast_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(DeleteCommentPublic200Response, Integer, Hash)>] DeleteCommentPublic200Response data, response status code and response headers
    def delete_comment_public_with_http_info(tenant_id, comment_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_comment_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.delete_comment_public"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.delete_comment_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param vote_id [String] 
    # @param url_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [DeleteCommentVote200Response]
    def delete_comment_vote(tenant_id, comment_id, vote_id, url_id, broadcast_id, opts = {})
      data, _status_code, _headers = delete_comment_vote_with_http_info(tenant_id, comment_id, vote_id, url_id, broadcast_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param vote_id [String] 
    # @param url_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(DeleteCommentVote200Response, Integer, Hash)>] DeleteCommentVote200Response data, response status code and response headers
    def delete_comment_vote_with_http_info(tenant_id, comment_id, vote_id, url_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_comment_vote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'vote_id' is set
      if @api_client.config.client_side_validation && vote_id.nil?
        fail ArgumentError, "Missing the required parameter 'vote_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.delete_comment_vote"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/vote/{voteId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s)).sub('{' + 'voteId' + '}', CGI.escape(vote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommentVote200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_comment_vote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_comment_vote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [DeleteFeedPostPublic200Response]
    def delete_feed_post_public(tenant_id, post_id, opts = {})
      data, _status_code, _headers = delete_feed_post_public_with_http_info(tenant_id, post_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [Array<(DeleteFeedPostPublic200Response, Integer, Hash)>] DeleteFeedPostPublic200Response data, response status code and response headers
    def delete_feed_post_public_with_http_info(tenant_id, post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_feed_post_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_feed_post_public"
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PublicApi.delete_feed_post_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/{postId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFeedPostPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_feed_post_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_feed_post_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param is_flagged [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [FlagCommentPublic200Response]
    def flag_comment_public(tenant_id, comment_id, is_flagged, opts = {})
      data, _status_code, _headers = flag_comment_public_with_http_info(tenant_id, comment_id, is_flagged, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param is_flagged [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(FlagCommentPublic200Response, Integer, Hash)>] FlagCommentPublic200Response data, response status code and response headers
    def flag_comment_public_with_http_info(tenant_id, comment_id, is_flagged, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.flag_comment_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.flag_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.flag_comment_public"
      end
      # verify the required parameter 'is_flagged' is set
      if @api_client.config.client_side_validation && is_flagged.nil?
        fail ArgumentError, "Missing the required parameter 'is_flagged' when calling PublicApi.flag_comment_public"
      end
      # resource path
      local_var_path = '/flag-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'isFlagged'] = is_flagged
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.flag_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#flag_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [GetCommentText200Response]
    def get_comment_text(tenant_id, comment_id, opts = {})
      data, _status_code, _headers = get_comment_text_with_http_info(tenant_id, comment_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(GetCommentText200Response, Integer, Hash)>] GetCommentText200Response data, response status code and response headers
    def get_comment_text_with_http_info(tenant_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comment_text ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comment_text"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.get_comment_text"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/text'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentText200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comment_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comment_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param dir [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetCommentVoteUserNames200Response]
    def get_comment_vote_user_names(tenant_id, comment_id, dir, opts = {})
      data, _status_code, _headers = get_comment_vote_user_names_with_http_info(tenant_id, comment_id, dir, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param dir [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetCommentVoteUserNames200Response, Integer, Hash)>] GetCommentVoteUserNames200Response data, response status code and response headers
    def get_comment_vote_user_names_with_http_info(tenant_id, comment_id, dir, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comment_vote_user_names ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comment_vote_user_names"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.get_comment_vote_user_names"
      end
      # verify the required parameter 'dir' is set
      if @api_client.config.client_side_validation && dir.nil?
        fail ArgumentError, "Missing the required parameter 'dir' when calling PublicApi.get_comment_vote_user_names"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/votes'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dir'] = dir
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentVoteUserNames200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comment_vote_user_names",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comment_vote_user_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :sso 
    # @option opts [Integer] :skip 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :limit_children 
    # @option opts [Boolean] :count_children 
    # @option opts [String] :fetch_page_for_comment_id 
    # @option opts [Boolean] :include_config 
    # @option opts [Boolean] :count_all 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [String] :modules 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_notification_count 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [Boolean] :use_full_translation_ids 
    # @option opts [String] :parent_id 
    # @option opts [String] :search_text 
    # @option opts [Array<String>] :hash_tags 
    # @option opts [String] :user_id 
    # @option opts [String] :custom_config_str 
    # @option opts [String] :after_comment_id 
    # @option opts [String] :before_comment_id 
    # @return [GetCommentsPublic200Response]
    def get_comments_public(tenant_id, url_id, opts = {})
      data, _status_code, _headers = get_comments_public_with_http_info(tenant_id, url_id, opts)
      data
    end

    #  req tenantId urlId
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :sso 
    # @option opts [Integer] :skip 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :limit_children 
    # @option opts [Boolean] :count_children 
    # @option opts [String] :fetch_page_for_comment_id 
    # @option opts [Boolean] :include_config 
    # @option opts [Boolean] :count_all 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [String] :modules 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_notification_count 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [Boolean] :use_full_translation_ids 
    # @option opts [String] :parent_id 
    # @option opts [String] :search_text 
    # @option opts [Array<String>] :hash_tags 
    # @option opts [String] :user_id 
    # @option opts [String] :custom_config_str 
    # @option opts [String] :after_comment_id 
    # @option opts [String] :before_comment_id 
    # @return [Array<(GetCommentsPublic200Response, Integer, Hash)>] GetCommentsPublic200Response data, response status code and response headers
    def get_comments_public_with_http_info(tenant_id, url_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comments_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comments_public"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_comments_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'skipChildren'] = opts[:'skip_children'] if !opts[:'skip_children'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'limitChildren'] = opts[:'limit_children'] if !opts[:'limit_children'].nil?
      query_params[:'countChildren'] = opts[:'count_children'] if !opts[:'count_children'].nil?
      query_params[:'fetchPageForCommentId'] = opts[:'fetch_page_for_comment_id'] if !opts[:'fetch_page_for_comment_id'].nil?
      query_params[:'includeConfig'] = opts[:'include_config'] if !opts[:'include_config'].nil?
      query_params[:'countAll'] = opts[:'count_all'] if !opts[:'count_all'].nil?
      query_params[:'includei10n'] = opts[:'includei10n'] if !opts[:'includei10n'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'modules'] = opts[:'modules'] if !opts[:'modules'].nil?
      query_params[:'isCrawler'] = opts[:'is_crawler'] if !opts[:'is_crawler'].nil?
      query_params[:'includeNotificationCount'] = opts[:'include_notification_count'] if !opts[:'include_notification_count'].nil?
      query_params[:'asTree'] = opts[:'as_tree'] if !opts[:'as_tree'].nil?
      query_params[:'maxTreeDepth'] = opts[:'max_tree_depth'] if !opts[:'max_tree_depth'].nil?
      query_params[:'useFullTranslationIds'] = opts[:'use_full_translation_ids'] if !opts[:'use_full_translation_ids'].nil?
      query_params[:'parentId'] = opts[:'parent_id'] if !opts[:'parent_id'].nil?
      query_params[:'searchText'] = opts[:'search_text'] if !opts[:'search_text'].nil?
      query_params[:'hashTags'] = @api_client.build_collection_param(opts[:'hash_tags'], :multi) if !opts[:'hash_tags'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'customConfigStr'] = opts[:'custom_config_str'] if !opts[:'custom_config_str'].nil?
      query_params[:'afterCommentId'] = opts[:'after_comment_id'] if !opts[:'after_comment_id'].nil?
      query_params[:'beforeCommentId'] = opts[:'before_comment_id'] if !opts[:'before_comment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentsPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comments_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comments_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId userIdWS
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param user_id_ws [String] 
    # @param start_time [Integer] 
    # @param end_time [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetEventLog200Response]
    def get_event_log(tenant_id, url_id, user_id_ws, start_time, end_time, opts = {})
      data, _status_code, _headers = get_event_log_with_http_info(tenant_id, url_id, user_id_ws, start_time, end_time, opts)
      data
    end

    #  req tenantId urlId userIdWS
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param user_id_ws [String] 
    # @param start_time [Integer] 
    # @param end_time [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventLog200Response, Integer, Hash)>] GetEventLog200Response data, response status code and response headers
    def get_event_log_with_http_info(tenant_id, url_id, user_id_ws, start_time, end_time, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_event_log ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'user_id_ws' is set
      if @api_client.config.client_side_validation && user_id_ws.nil?
        fail ArgumentError, "Missing the required parameter 'user_id_ws' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'start_time' is set
      if @api_client.config.client_side_validation && start_time.nil?
        fail ArgumentError, "Missing the required parameter 'start_time' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'end_time' is set
      if @api_client.config.client_side_validation && end_time.nil?
        fail ArgumentError, "Missing the required parameter 'end_time' when calling PublicApi.get_event_log"
      end
      # resource path
      local_var_path = '/event-log/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'userIdWS'] = user_id_ws
      query_params[:'startTime'] = start_time
      query_params[:'endTime'] = end_time

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventLog200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_event_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_event_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId afterId
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @option opts [String] :sso 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_user_info 
    # @return [GetFeedPostsPublic200Response]
    def get_feed_posts_public(tenant_id, opts = {})
      data, _status_code, _headers = get_feed_posts_public_with_http_info(tenant_id, opts)
      data
    end

    #  req tenantId afterId
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @option opts [String] :sso 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_user_info 
    # @return [Array<(GetFeedPostsPublic200Response, Integer, Hash)>] GetFeedPostsPublic200Response data, response status code and response headers
    def get_feed_posts_public_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_feed_posts_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_feed_posts_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :multi) if !opts[:'tags'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?
      query_params[:'isCrawler'] = opts[:'is_crawler'] if !opts[:'is_crawler'].nil?
      query_params[:'includeUserInfo'] = opts[:'include_user_info'] if !opts[:'include_user_info'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFeedPostsPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_feed_posts_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_feed_posts_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param post_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetFeedPostsStats200Response]
    def get_feed_posts_stats(tenant_id, post_ids, opts = {})
      data, _status_code, _headers = get_feed_posts_stats_with_http_info(tenant_id, post_ids, opts)
      data
    end

    # @param tenant_id [String] 
    # @param post_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetFeedPostsStats200Response, Integer, Hash)>] GetFeedPostsStats200Response data, response status code and response headers
    def get_feed_posts_stats_with_http_info(tenant_id, post_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_feed_posts_stats ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_feed_posts_stats"
      end
      # verify the required parameter 'post_ids' is set
      if @api_client.config.client_side_validation && post_ids.nil?
        fail ArgumentError, "Missing the required parameter 'post_ids' when calling PublicApi.get_feed_posts_stats"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/stats'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postIds'] = @api_client.build_collection_param(post_ids, :multi)
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFeedPostsStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_feed_posts_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_feed_posts_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId userIdWS
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param user_id_ws [String] 
    # @param start_time [Integer] 
    # @param end_time [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetEventLog200Response]
    def get_global_event_log(tenant_id, url_id, user_id_ws, start_time, end_time, opts = {})
      data, _status_code, _headers = get_global_event_log_with_http_info(tenant_id, url_id, user_id_ws, start_time, end_time, opts)
      data
    end

    #  req tenantId urlId userIdWS
    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param user_id_ws [String] 
    # @param start_time [Integer] 
    # @param end_time [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventLog200Response, Integer, Hash)>] GetEventLog200Response data, response status code and response headers
    def get_global_event_log_with_http_info(tenant_id, url_id, user_id_ws, start_time, end_time, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_global_event_log ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'user_id_ws' is set
      if @api_client.config.client_side_validation && user_id_ws.nil?
        fail ArgumentError, "Missing the required parameter 'user_id_ws' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'start_time' is set
      if @api_client.config.client_side_validation && start_time.nil?
        fail ArgumentError, "Missing the required parameter 'start_time' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'end_time' is set
      if @api_client.config.client_side_validation && end_time.nil?
        fail ArgumentError, "Missing the required parameter 'end_time' when calling PublicApi.get_global_event_log"
      end
      # resource path
      local_var_path = '/event-log/global/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'userIdWS'] = user_id_ws
      query_params[:'startTime'] = start_time
      query_params[:'endTime'] = end_time

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventLog200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_global_event_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_global_event_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [GetUserNotificationCount200Response]
    def get_user_notification_count(tenant_id, opts = {})
      data, _status_code, _headers = get_user_notification_count_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(GetUserNotificationCount200Response, Integer, Hash)>] GetUserNotificationCount200Response data, response status code and response headers
    def get_user_notification_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_user_notification_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_user_notification_count"
      end
      # resource path
      local_var_path = '/user-notifications/get-count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserNotificationCount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_user_notification_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_user_notification_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size 
    # @option opts [String] :after_id 
    # @option opts [Boolean] :include_context 
    # @option opts [Integer] :after_created_at 
    # @option opts [Boolean] :unread_only 
    # @option opts [Boolean] :dm_only 
    # @option opts [Boolean] :no_dm 
    # @option opts [Boolean] :include_translations 
    # @option opts [String] :sso 
    # @return [GetUserNotifications200Response]
    def get_user_notifications(tenant_id, opts = {})
      data, _status_code, _headers = get_user_notifications_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size 
    # @option opts [String] :after_id 
    # @option opts [Boolean] :include_context 
    # @option opts [Integer] :after_created_at 
    # @option opts [Boolean] :unread_only 
    # @option opts [Boolean] :dm_only 
    # @option opts [Boolean] :no_dm 
    # @option opts [Boolean] :include_translations 
    # @option opts [String] :sso 
    # @return [Array<(GetUserNotifications200Response, Integer, Hash)>] GetUserNotifications200Response data, response status code and response headers
    def get_user_notifications_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_user_notifications ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_user_notifications"
      end
      # resource path
      local_var_path = '/user-notifications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'includeContext'] = opts[:'include_context'] if !opts[:'include_context'].nil?
      query_params[:'afterCreatedAt'] = opts[:'after_created_at'] if !opts[:'after_created_at'].nil?
      query_params[:'unreadOnly'] = opts[:'unread_only'] if !opts[:'unread_only'].nil?
      query_params[:'dmOnly'] = opts[:'dm_only'] if !opts[:'dm_only'].nil?
      query_params[:'noDm'] = opts[:'no_dm'] if !opts[:'no_dm'].nil?
      query_params[:'includeTranslations'] = opts[:'include_translations'] if !opts[:'include_translations'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserNotifications200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_user_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_user_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param url_id_ws [String] 
    # @param user_ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserPresenceStatuses200Response]
    def get_user_presence_statuses(tenant_id, url_id_ws, user_ids, opts = {})
      data, _status_code, _headers = get_user_presence_statuses_with_http_info(tenant_id, url_id_ws, user_ids, opts)
      data
    end

    # @param tenant_id [String] 
    # @param url_id_ws [String] 
    # @param user_ids [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserPresenceStatuses200Response, Integer, Hash)>] GetUserPresenceStatuses200Response data, response status code and response headers
    def get_user_presence_statuses_with_http_info(tenant_id, url_id_ws, user_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_user_presence_statuses ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_user_presence_statuses"
      end
      # verify the required parameter 'url_id_ws' is set
      if @api_client.config.client_side_validation && url_id_ws.nil?
        fail ArgumentError, "Missing the required parameter 'url_id_ws' when calling PublicApi.get_user_presence_statuses"
      end
      # verify the required parameter 'user_ids' is set
      if @api_client.config.client_side_validation && user_ids.nil?
        fail ArgumentError, "Missing the required parameter 'user_ids' when calling PublicApi.get_user_presence_statuses"
      end
      # resource path
      local_var_path = '/user-presence-status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'urlIdWS'] = url_id_ws
      query_params[:'userIds'] = user_ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserPresenceStatuses200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_user_presence_statuses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_user_presence_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :post_ids 
    # @option opts [String] :sso 
    # @return [GetUserReactsPublic200Response]
    def get_user_reacts_public(tenant_id, opts = {})
      data, _status_code, _headers = get_user_reacts_public_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :post_ids 
    # @option opts [String] :sso 
    # @return [Array<(GetUserReactsPublic200Response, Integer, Hash)>] GetUserReactsPublic200Response data, response status code and response headers
    def get_user_reacts_public_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_user_reacts_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_user_reacts_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/user-reacts'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postIds'] = @api_client.build_collection_param(opts[:'post_ids'], :multi) if !opts[:'post_ids'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserReactsPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_user_reacts_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_user_reacts_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [LockComment200Response]
    def lock_comment(tenant_id, comment_id, broadcast_id, opts = {})
      data, _status_code, _headers = lock_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(LockComment200Response, Integer, Hash)>] LockComment200Response data, response status code and response headers
    def lock_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.lock_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.lock_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.lock_comment"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.lock_comment"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/lock'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LockComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.lock_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#lock_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [PinComment200Response]
    def pin_comment(tenant_id, comment_id, broadcast_id, opts = {})
      data, _status_code, _headers = pin_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(PinComment200Response, Integer, Hash)>] PinComment200Response data, response status code and response headers
    def pin_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.pin_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.pin_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.pin_comment"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.pin_comment"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/pin'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PinComment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.pin_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#pin_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param post_id [String] 
    # @param react_body_params [ReactBodyParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_undo 
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [ReactFeedPostPublic200Response]
    def react_feed_post_public(tenant_id, post_id, react_body_params, opts = {})
      data, _status_code, _headers = react_feed_post_public_with_http_info(tenant_id, post_id, react_body_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param post_id [String] 
    # @param react_body_params [ReactBodyParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_undo 
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [Array<(ReactFeedPostPublic200Response, Integer, Hash)>] ReactFeedPostPublic200Response data, response status code and response headers
    def react_feed_post_public_with_http_info(tenant_id, post_id, react_body_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.react_feed_post_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.react_feed_post_public"
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PublicApi.react_feed_post_public"
      end
      # verify the required parameter 'react_body_params' is set
      if @api_client.config.client_side_validation && react_body_params.nil?
        fail ArgumentError, "Missing the required parameter 'react_body_params' when calling PublicApi.react_feed_post_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/react/{postId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'isUndo'] = opts[:'is_undo'] if !opts[:'is_undo'].nil?
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(react_body_params)

      # return_type
      return_type = opts[:debug_return_type] || 'ReactFeedPostPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.react_feed_post_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#react_feed_post_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [ResetUserNotifications200Response]
    def reset_user_notification_count(tenant_id, opts = {})
      data, _status_code, _headers = reset_user_notification_count_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(ResetUserNotifications200Response, Integer, Hash)>] ResetUserNotifications200Response data, response status code and response headers
    def reset_user_notification_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.reset_user_notification_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.reset_user_notification_count"
      end
      # resource path
      local_var_path = '/user-notifications/reset-count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResetUserNotifications200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.reset_user_notification_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#reset_user_notification_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :after_created_at 
    # @option opts [Boolean] :unread_only 
    # @option opts [Boolean] :dm_only 
    # @option opts [Boolean] :no_dm 
    # @option opts [String] :sso 
    # @return [ResetUserNotifications200Response]
    def reset_user_notifications(tenant_id, opts = {})
      data, _status_code, _headers = reset_user_notifications_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after_id 
    # @option opts [Integer] :after_created_at 
    # @option opts [Boolean] :unread_only 
    # @option opts [Boolean] :dm_only 
    # @option opts [Boolean] :no_dm 
    # @option opts [String] :sso 
    # @return [Array<(ResetUserNotifications200Response, Integer, Hash)>] ResetUserNotifications200Response data, response status code and response headers
    def reset_user_notifications_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.reset_user_notifications ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.reset_user_notifications"
      end
      # resource path
      local_var_path = '/user-notifications/reset'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'afterCreatedAt'] = opts[:'after_created_at'] if !opts[:'after_created_at'].nil?
      query_params[:'unreadOnly'] = opts[:'unread_only'] if !opts[:'unread_only'].nil?
      query_params[:'dmOnly'] = opts[:'dm_only'] if !opts[:'dm_only'].nil?
      query_params[:'noDm'] = opts[:'no_dm'] if !opts[:'no_dm'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResetUserNotifications200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.reset_user_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#reset_user_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :username_starts_with 
    # @option opts [Array<String>] :mention_group_ids 
    # @option opts [String] :sso 
    # @return [SearchUsers200Response]
    def search_users(tenant_id, url_id, opts = {})
      data, _status_code, _headers = search_users_with_http_info(tenant_id, url_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param url_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :username_starts_with 
    # @option opts [Array<String>] :mention_group_ids 
    # @option opts [String] :sso 
    # @return [Array<(SearchUsers200Response, Integer, Hash)>] SearchUsers200Response data, response status code and response headers
    def search_users_with_http_info(tenant_id, url_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.search_users ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.search_users"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.search_users"
      end
      # resource path
      local_var_path = '/user-search/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'usernameStartsWith'] = opts[:'username_starts_with'] if !opts[:'username_starts_with'].nil?
      query_params[:'mentionGroupIds'] = @api_client.build_collection_param(opts[:'mention_group_ids'], :multi) if !opts[:'mention_group_ids'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.search_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#search_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param comment_text_update_request [CommentTextUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [SetCommentText200Response]
    def set_comment_text(tenant_id, comment_id, broadcast_id, comment_text_update_request, opts = {})
      data, _status_code, _headers = set_comment_text_with_http_info(tenant_id, comment_id, broadcast_id, comment_text_update_request, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param comment_text_update_request [CommentTextUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(SetCommentText200Response, Integer, Hash)>] SetCommentText200Response data, response status code and response headers
    def set_comment_text_with_http_info(tenant_id, comment_id, broadcast_id, comment_text_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.set_comment_text ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.set_comment_text"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.set_comment_text"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.set_comment_text"
      end
      # verify the required parameter 'comment_text_update_request' is set
      if @api_client.config.client_side_validation && comment_text_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'comment_text_update_request' when calling PublicApi.set_comment_text"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/update-text'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(comment_text_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetCommentText200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.set_comment_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#set_comment_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param public_block_from_comment_params [PublicBlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [UnBlockCommentPublic200Response]
    def un_block_comment_public(tenant_id, comment_id, public_block_from_comment_params, opts = {})
      data, _status_code, _headers = un_block_comment_public_with_http_info(tenant_id, comment_id, public_block_from_comment_params, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param public_block_from_comment_params [PublicBlockFromCommentParams] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(UnBlockCommentPublic200Response, Integer, Hash)>] UnBlockCommentPublic200Response data, response status code and response headers
    def un_block_comment_public_with_http_info(tenant_id, comment_id, public_block_from_comment_params, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.un_block_comment_public ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.un_block_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.un_block_comment_public"
      end
      # verify the required parameter 'public_block_from_comment_params' is set
      if @api_client.config.client_side_validation && public_block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'public_block_from_comment_params' when calling PublicApi.un_block_comment_public"
      end
      # resource path
      local_var_path = '/block-from-comment/{commentId}'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(public_block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'UnBlockCommentPublic200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.un_block_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#un_block_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [LockComment200Response]
    def un_lock_comment(tenant_id, comment_id, broadcast_id, opts = {})
      data, _status_code, _headers = un_lock_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param comment_id [String] 
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sso 
    # @return [Array<(LockComment200Response, Integer, Hash)>] LockComment200Response data, response status code and response headers
    def un_lock_comment_with_http_info(tenant_id, comment_id, broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.un_lock_comment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.un_lock_comment"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.un_lock_comment"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.un_lock_comment"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/unlock'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
