=begin
#fastcomments

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0-SNAPSHOT

=end

require 'cgi'

module FastCommentsClient
  class PublicApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [PublicBlockFromCommentParams] :public_block_from_comment_params  (required)
    # @option opts [String] :sso 
    # @return [BlockSuccess]
    def block_from_comment_public(opts = {})
      data, _status_code, _headers = block_from_comment_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [PublicBlockFromCommentParams] :public_block_from_comment_params  (required)
    # @option opts [String] :sso 
    # @return [Array<(BlockSuccess, Integer, Hash)>] BlockSuccess data, response status code and response headers
    def block_from_comment_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.block_from_comment_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      public_block_from_comment_params = opts[:'public_block_from_comment_params']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.block_from_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.block_from_comment_public"
      end
      # verify the required parameter 'public_block_from_comment_params' is set
      if @api_client.config.client_side_validation && public_block_from_comment_params.nil?
        fail ArgumentError, "Missing the required parameter 'public_block_from_comment_params' when calling PublicApi.block_from_comment_public"
      end
      # resource path
      local_var_path = '/block-from-comment/{commentId}'.sub('{commentId}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(public_block_from_comment_params)

      # return_type
      return_type = opts[:debug_return_type] || 'BlockSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.block_from_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#block_from_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_ids A comma separated list of comment ids. (required)
    # @option opts [String] :sso 
    # @return [CheckBlockedCommentsResponse]
    def checked_comments_for_blocked(opts = {})
      data, _status_code, _headers = checked_comments_for_blocked_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_ids A comma separated list of comment ids. (required)
    # @option opts [String] :sso 
    # @return [Array<(CheckBlockedCommentsResponse, Integer, Hash)>] CheckBlockedCommentsResponse data, response status code and response headers
    def checked_comments_for_blocked_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.checked_comments_for_blocked ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_ids = opts[:'comment_ids']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.checked_comments_for_blocked"
      end
      # verify the required parameter 'comment_ids' is set
      if @api_client.config.client_side_validation && comment_ids.nil?
        fail ArgumentError, "Missing the required parameter 'comment_ids' when calling PublicApi.checked_comments_for_blocked"
      end
      # resource path
      local_var_path = '/check-blocked-comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'commentIds'] = comment_ids
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBlockedCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.checked_comments_for_blocked",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#checked_comments_for_blocked\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [CommentData] :comment_data  (required)
    # @option opts [String] :session_id 
    # @option opts [String] :sso 
    # @return [SaveCommentsResponseWithPresence]
    def create_comment_public(opts = {})
      data, _status_code, _headers = create_comment_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [CommentData] :comment_data  (required)
    # @option opts [String] :session_id 
    # @option opts [String] :sso 
    # @return [Array<(SaveCommentsResponseWithPresence, Integer, Hash)>] SaveCommentsResponseWithPresence data, response status code and response headers
    def create_comment_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_comment_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      broadcast_id = opts[:'broadcast_id']
      comment_data = opts[:'comment_data']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.create_comment_public"
      end
      # verify the required parameter 'comment_data' is set
      if @api_client.config.client_side_validation && comment_data.nil?
        fail ArgumentError, "Missing the required parameter 'comment_data' when calling PublicApi.create_comment_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(comment_data)

      # return_type
      return_type = opts[:debug_return_type] || 'SaveCommentsResponseWithPresence'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [CreateFeedPostParams] :create_feed_post_params  (required)
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [CreateFeedPostResponse]
    def create_feed_post_public(opts = {})
      data, _status_code, _headers = create_feed_post_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [CreateFeedPostParams] :create_feed_post_params  (required)
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [Array<(CreateFeedPostResponse, Integer, Hash)>] CreateFeedPostResponse data, response status code and response headers
    def create_feed_post_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_feed_post_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      create_feed_post_params = opts[:'create_feed_post_params']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_feed_post_public"
      end
      # verify the required parameter 'create_feed_post_params' is set
      if @api_client.config.client_side_validation && create_feed_post_params.nil?
        fail ArgumentError, "Missing the required parameter 'create_feed_post_params' when calling PublicApi.create_feed_post_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_feed_post_params)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFeedPostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_feed_post_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_feed_post_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :title 
    # @return [CreateV1PageReact]
    def create_v1_page_react(opts = {})
      data, _status_code, _headers = create_v1_page_react_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :title 
    # @return [Array<(CreateV1PageReact, Integer, Hash)>] CreateV1PageReact data, response status code and response headers
    def create_v1_page_react_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_v1_page_react ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_v1_page_react"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.create_v1_page_react"
      end
      # resource path
      local_var_path = '/page-reacts/v1/likes/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateV1PageReact'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_v1_page_react",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_v1_page_react\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :id  (required)
    # @option opts [String] :title 
    # @return [CreateV1PageReact]
    def create_v2_page_react(opts = {})
      data, _status_code, _headers = create_v2_page_react_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :id  (required)
    # @option opts [String] :title 
    # @return [Array<(CreateV1PageReact, Integer, Hash)>] CreateV1PageReact data, response status code and response headers
    def create_v2_page_react_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.create_v2_page_react ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      id = opts[:'id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.create_v2_page_react"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.create_v2_page_react"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PublicApi.create_v2_page_react"
      end
      # resource path
      local_var_path = '/page-reacts/v2/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'id'] = id
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateV1PageReact'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.create_v2_page_react",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#create_v2_page_react\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [PublicAPIDeleteCommentResponse]
    def delete_comment_public(opts = {})
      data, _status_code, _headers = delete_comment_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(PublicAPIDeleteCommentResponse, Integer, Hash)>] PublicAPIDeleteCommentResponse data, response status code and response headers
    def delete_comment_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_comment_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      broadcast_id = opts[:'broadcast_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.delete_comment_public"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.delete_comment_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s)).sub('{commentId}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicAPIDeleteCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :vote_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [VoteDeleteResponse]
    def delete_comment_vote(opts = {})
      data, _status_code, _headers = delete_comment_vote_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :vote_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :broadcast_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(VoteDeleteResponse, Integer, Hash)>] VoteDeleteResponse data, response status code and response headers
    def delete_comment_vote_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_comment_vote ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      vote_id = opts[:'vote_id']
      url_id = opts[:'url_id']
      broadcast_id = opts[:'broadcast_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'vote_id' is set
      if @api_client.config.client_side_validation && vote_id.nil?
        fail ArgumentError, "Missing the required parameter 'vote_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.delete_comment_vote"
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling PublicApi.delete_comment_vote"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/vote/{voteId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s)).sub('{commentId}', CGI.escape(comment_id.to_s)).sub('{voteId}', CGI.escape(vote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'broadcastId'] = broadcast_id
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VoteDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_comment_vote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_comment_vote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :post_id  (required)
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [DeleteFeedPostPublicResponse]
    def delete_feed_post_public(opts = {})
      data, _status_code, _headers = delete_feed_post_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :post_id  (required)
    # @option opts [String] :broadcast_id 
    # @option opts [String] :sso 
    # @return [Array<(DeleteFeedPostPublicResponse, Integer, Hash)>] DeleteFeedPostPublicResponse data, response status code and response headers
    def delete_feed_post_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_feed_post_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      post_id = opts[:'post_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_feed_post_public"
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PublicApi.delete_feed_post_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/{postId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s)).sub('{postId}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'broadcastId'] = opts[:'broadcast_id'] if !opts[:'broadcast_id'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFeedPostPublicResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_feed_post_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_feed_post_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @return [CreateV1PageReact]
    def delete_v1_page_react(opts = {})
      data, _status_code, _headers = delete_v1_page_react_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @return [Array<(CreateV1PageReact, Integer, Hash)>] CreateV1PageReact data, response status code and response headers
    def delete_v1_page_react_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_v1_page_react ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_v1_page_react"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.delete_v1_page_react"
      end
      # resource path
      local_var_path = '/page-reacts/v1/likes/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateV1PageReact'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_v1_page_react",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_v1_page_react\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :id  (required)
    # @return [CreateV1PageReact]
    def delete_v2_page_react(opts = {})
      data, _status_code, _headers = delete_v2_page_react_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :id  (required)
    # @return [Array<(CreateV1PageReact, Integer, Hash)>] CreateV1PageReact data, response status code and response headers
    def delete_v2_page_react_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.delete_v2_page_react ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      id = opts[:'id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.delete_v2_page_react"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.delete_v2_page_react"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PublicApi.delete_v2_page_react"
      end
      # resource path
      local_var_path = '/page-reacts/v2/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateV1PageReact'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.delete_v2_page_react",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#delete_v2_page_react\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [Boolean] :is_flagged  (required)
    # @option opts [String] :sso 
    # @return [APIEmptyResponse]
    def flag_comment_public(opts = {})
      data, _status_code, _headers = flag_comment_public_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [Boolean] :is_flagged  (required)
    # @option opts [String] :sso 
    # @return [Array<(APIEmptyResponse, Integer, Hash)>] APIEmptyResponse data, response status code and response headers
    def flag_comment_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.flag_comment_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      is_flagged = opts[:'is_flagged']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.flag_comment_public"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.flag_comment_public"
      end
      # verify the required parameter 'is_flagged' is set
      if @api_client.config.client_side_validation && is_flagged.nil?
        fail ArgumentError, "Missing the required parameter 'is_flagged' when calling PublicApi.flag_comment_public"
      end
      # resource path
      local_var_path = '/flag-comment/{commentId}'.sub('{commentId}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'isFlagged'] = is_flagged
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIEmptyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.flag_comment_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#flag_comment_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [PublicAPIGetCommentTextResponse]
    def get_comment_text(opts = {})
      data, _status_code, _headers = get_comment_text_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [String] :edit_key 
    # @option opts [String] :sso 
    # @return [Array<(PublicAPIGetCommentTextResponse, Integer, Hash)>] PublicAPIGetCommentTextResponse data, response status code and response headers
    def get_comment_text_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comment_text ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comment_text"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.get_comment_text"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/text'.sub('{tenantId}', CGI.escape(tenant_id.to_s)).sub('{commentId}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'editKey'] = opts[:'edit_key'] if !opts[:'edit_key'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicAPIGetCommentTextResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comment_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comment_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [Integer] :dir  (required)
    # @option opts [String] :sso 
    # @return [GetCommentVoteUserNamesSuccessResponse]
    def get_comment_vote_user_names(opts = {})
      data, _status_code, _headers = get_comment_vote_user_names_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :comment_id  (required)
    # @option opts [Integer] :dir  (required)
    # @option opts [String] :sso 
    # @return [Array<(GetCommentVoteUserNamesSuccessResponse, Integer, Hash)>] GetCommentVoteUserNamesSuccessResponse data, response status code and response headers
    def get_comment_vote_user_names_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comment_vote_user_names ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      comment_id = opts[:'comment_id']
      dir = opts[:'dir']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comment_vote_user_names"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling PublicApi.get_comment_vote_user_names"
      end
      # verify the required parameter 'dir' is set
      if @api_client.config.client_side_validation && dir.nil?
        fail ArgumentError, "Missing the required parameter 'dir' when calling PublicApi.get_comment_vote_user_names"
      end
      # resource path
      local_var_path = '/comments/{tenantId}/{commentId}/votes'.sub('{tenantId}', CGI.escape(tenant_id.to_s)).sub('{commentId}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dir'] = dir
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentVoteUserNamesSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comment_vote_user_names",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comment_vote_user_names\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :user_id 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :replies_to_user_id 
    # @option opts [Float] :page 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [Boolean] :is_crawler 
    # @return [GetCommentsForUserResponse]
    def get_comments_for_user(opts = {})
      data, _status_code, _headers = get_comments_for_user_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :user_id 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :replies_to_user_id 
    # @option opts [Float] :page 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [Boolean] :is_crawler 
    # @return [Array<(GetCommentsForUserResponse, Integer, Hash)>] GetCommentsForUserResponse data, response status code and response headers
    def get_comments_for_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comments_for_user ...'
      end
      # unbox the parameters from the hash
      # resource path
      local_var_path = '/comments-for-user'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'repliesToUserId'] = opts[:'replies_to_user_id'] if !opts[:'replies_to_user_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'includei10n'] = opts[:'includei10n'] if !opts[:'includei10n'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'isCrawler'] = opts[:'is_crawler'] if !opts[:'is_crawler'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentsForUserResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comments_for_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comments_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [Integer] :page 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :sso 
    # @option opts [Integer] :skip 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :limit_children 
    # @option opts [Boolean] :count_children 
    # @option opts [String] :fetch_page_for_comment_id 
    # @option opts [Boolean] :include_config 
    # @option opts [Boolean] :count_all 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [String] :modules 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_notification_count 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [Boolean] :use_full_translation_ids 
    # @option opts [String] :parent_id 
    # @option opts [String] :search_text 
    # @option opts [Array<String>] :hash_tags 
    # @option opts [String] :user_id 
    # @option opts [String] :custom_config_str 
    # @option opts [String] :after_comment_id 
    # @option opts [String] :before_comment_id 
    # @return [GetCommentsResponseWithPresencePublicComment]
    def get_comments_public(opts = {})
      data, _status_code, _headers = get_comments_public_with_http_info(opts)
      data
    end

    #  req tenantId urlId
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [Integer] :page 
    # @option opts [SortDirections] :direction 
    # @option opts [String] :sso 
    # @option opts [Integer] :skip 
    # @option opts [Integer] :skip_children 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :limit_children 
    # @option opts [Boolean] :count_children 
    # @option opts [String] :fetch_page_for_comment_id 
    # @option opts [Boolean] :include_config 
    # @option opts [Boolean] :count_all 
    # @option opts [Boolean] :includei10n 
    # @option opts [String] :locale 
    # @option opts [String] :modules 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_notification_count 
    # @option opts [Boolean] :as_tree 
    # @option opts [Integer] :max_tree_depth 
    # @option opts [Boolean] :use_full_translation_ids 
    # @option opts [String] :parent_id 
    # @option opts [String] :search_text 
    # @option opts [Array<String>] :hash_tags 
    # @option opts [String] :user_id 
    # @option opts [String] :custom_config_str 
    # @option opts [String] :after_comment_id 
    # @option opts [String] :before_comment_id 
    # @return [Array<(GetCommentsResponseWithPresencePublicComment, Integer, Hash)>] GetCommentsResponseWithPresencePublicComment data, response status code and response headers
    def get_comments_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_comments_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_comments_public"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_comments_public"
      end
      # resource path
      local_var_path = '/comments/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'skipChildren'] = opts[:'skip_children'] if !opts[:'skip_children'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'limitChildren'] = opts[:'limit_children'] if !opts[:'limit_children'].nil?
      query_params[:'countChildren'] = opts[:'count_children'] if !opts[:'count_children'].nil?
      query_params[:'fetchPageForCommentId'] = opts[:'fetch_page_for_comment_id'] if !opts[:'fetch_page_for_comment_id'].nil?
      query_params[:'includeConfig'] = opts[:'include_config'] if !opts[:'include_config'].nil?
      query_params[:'countAll'] = opts[:'count_all'] if !opts[:'count_all'].nil?
      query_params[:'includei10n'] = opts[:'includei10n'] if !opts[:'includei10n'].nil?
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'modules'] = opts[:'modules'] if !opts[:'modules'].nil?
      query_params[:'isCrawler'] = opts[:'is_crawler'] if !opts[:'is_crawler'].nil?
      query_params[:'includeNotificationCount'] = opts[:'include_notification_count'] if !opts[:'include_notification_count'].nil?
      query_params[:'asTree'] = opts[:'as_tree'] if !opts[:'as_tree'].nil?
      query_params[:'maxTreeDepth'] = opts[:'max_tree_depth'] if !opts[:'max_tree_depth'].nil?
      query_params[:'useFullTranslationIds'] = opts[:'use_full_translation_ids'] if !opts[:'use_full_translation_ids'].nil?
      query_params[:'parentId'] = opts[:'parent_id'] if !opts[:'parent_id'].nil?
      query_params[:'searchText'] = opts[:'search_text'] if !opts[:'search_text'].nil?
      query_params[:'hashTags'] = @api_client.build_collection_param(opts[:'hash_tags'], :multi) if !opts[:'hash_tags'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'customConfigStr'] = opts[:'custom_config_str'] if !opts[:'custom_config_str'].nil?
      query_params[:'afterCommentId'] = opts[:'after_comment_id'] if !opts[:'after_comment_id'].nil?
      query_params[:'beforeCommentId'] = opts[:'before_comment_id'] if !opts[:'before_comment_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentsResponseWithPresencePublicComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_comments_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_comments_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId userIdWS
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :user_id_ws  (required)
    # @option opts [Integer] :start_time  (required)
    # @option opts [Integer] :end_time 
    # @return [GetEventLogResponse]
    def get_event_log(opts = {})
      data, _status_code, _headers = get_event_log_with_http_info(opts)
      data
    end

    #  req tenantId urlId userIdWS
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :user_id_ws  (required)
    # @option opts [Integer] :start_time  (required)
    # @option opts [Integer] :end_time 
    # @return [Array<(GetEventLogResponse, Integer, Hash)>] GetEventLogResponse data, response status code and response headers
    def get_event_log_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_event_log ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      user_id_ws = opts[:'user_id_ws']
      start_time = opts[:'start_time']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'user_id_ws' is set
      if @api_client.config.client_side_validation && user_id_ws.nil?
        fail ArgumentError, "Missing the required parameter 'user_id_ws' when calling PublicApi.get_event_log"
      end
      # verify the required parameter 'start_time' is set
      if @api_client.config.client_side_validation && start_time.nil?
        fail ArgumentError, "Missing the required parameter 'start_time' when calling PublicApi.get_event_log"
      end
      # resource path
      local_var_path = '/event-log/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'userIdWS'] = user_id_ws
      query_params[:'startTime'] = start_time
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventLogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_event_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_event_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId afterId
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @option opts [String] :sso 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_user_info 
    # @return [PublicFeedPostsResponse]
    def get_feed_posts_public(opts = {})
      data, _status_code, _headers = get_feed_posts_public_with_http_info(opts)
      data
    end

    #  req tenantId afterId
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :after_id 
    # @option opts [Integer] :limit 
    # @option opts [Array<String>] :tags 
    # @option opts [String] :sso 
    # @option opts [Boolean] :is_crawler 
    # @option opts [Boolean] :include_user_info 
    # @return [Array<(PublicFeedPostsResponse, Integer, Hash)>] PublicFeedPostsResponse data, response status code and response headers
    def get_feed_posts_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_feed_posts_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_feed_posts_public"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'afterId'] = opts[:'after_id'] if !opts[:'after_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'tags'] = @api_client.build_collection_param(opts[:'tags'], :multi) if !opts[:'tags'].nil?
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?
      query_params[:'isCrawler'] = opts[:'is_crawler'] if !opts[:'is_crawler'].nil?
      query_params[:'includeUserInfo'] = opts[:'include_user_info'] if !opts[:'include_user_info'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicFeedPostsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_feed_posts_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_feed_posts_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [Array<String>] :post_ids  (required)
    # @option opts [String] :sso 
    # @return [FeedPostsStatsResponse]
    def get_feed_posts_stats(opts = {})
      data, _status_code, _headers = get_feed_posts_stats_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [Array<String>] :post_ids  (required)
    # @option opts [String] :sso 
    # @return [Array<(FeedPostsStatsResponse, Integer, Hash)>] FeedPostsStatsResponse data, response status code and response headers
    def get_feed_posts_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_feed_posts_stats ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      post_ids = opts[:'post_ids']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_feed_posts_stats"
      end
      # verify the required parameter 'post_ids' is set
      if @api_client.config.client_side_validation && post_ids.nil?
        fail ArgumentError, "Missing the required parameter 'post_ids' when calling PublicApi.get_feed_posts_stats"
      end
      # resource path
      local_var_path = '/feed-posts/{tenantId}/stats'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postIds'] = @api_client.build_collection_param(post_ids, :multi)
      query_params[:'sso'] = opts[:'sso'] if !opts[:'sso'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FeedPostsStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_feed_posts_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_feed_posts_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :large_internal_url_sanitized  (required)
    # @return [GifGetLargeResponse]
    def get_gif_large(opts = {})
      data, _status_code, _headers = get_gif_large_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :large_internal_url_sanitized  (required)
    # @return [Array<(GifGetLargeResponse, Integer, Hash)>] GifGetLargeResponse data, response status code and response headers
    def get_gif_large_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_gif_large ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      large_internal_url_sanitized = opts[:'large_internal_url_sanitized']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_gif_large"
      end
      # verify the required parameter 'large_internal_url_sanitized' is set
      if @api_client.config.client_side_validation && large_internal_url_sanitized.nil?
        fail ArgumentError, "Missing the required parameter 'large_internal_url_sanitized' when calling PublicApi.get_gif_large"
      end
      # resource path
      local_var_path = '/gifs/get-large/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'largeInternalURLSanitized'] = large_internal_url_sanitized

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GifGetLargeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_gif_large",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_gif_large\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :search  (required)
    # @option opts [String] :locale 
    # @option opts [String] :rating 
    # @option opts [Float] :page 
    # @return [GetGifsSearchResponse]
    def get_gifs_search(opts = {})
      data, _status_code, _headers = get_gifs_search_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :search  (required)
    # @option opts [String] :locale 
    # @option opts [String] :rating 
    # @option opts [Float] :page 
    # @return [Array<(GetGifsSearchResponse, Integer, Hash)>] GetGifsSearchResponse data, response status code and response headers
    def get_gifs_search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_gifs_search ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      search = opts[:'search']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_gifs_search"
      end
      # verify the required parameter 'search' is set
      if @api_client.config.client_side_validation && search.nil?
        fail ArgumentError, "Missing the required parameter 'search' when calling PublicApi.get_gifs_search"
      end
      # resource path
      local_var_path = '/gifs/search/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = search
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'rating'] = opts[:'rating'] if !opts[:'rating'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGifsSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_gifs_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_gifs_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :locale 
    # @option opts [String] :rating 
    # @option opts [Float] :page 
    # @return [GetGifsTrendingResponse]
    def get_gifs_trending(opts = {})
      data, _status_code, _headers = get_gifs_trending_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :locale 
    # @option opts [String] :rating 
    # @option opts [Float] :page 
    # @return [Array<(GetGifsTrendingResponse, Integer, Hash)>] GetGifsTrendingResponse data, response status code and response headers
    def get_gifs_trending_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_gifs_trending ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_gifs_trending"
      end
      # resource path
      local_var_path = '/gifs/trending/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'rating'] = opts[:'rating'] if !opts[:'rating'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGifsTrendingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_gifs_trending",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_gifs_trending\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    #  req tenantId urlId userIdWS
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :user_id_ws  (required)
    # @option opts [Integer] :start_time  (required)
    # @option opts [Integer] :end_time 
    # @return [GetEventLogResponse]
    def get_global_event_log(opts = {})
      data, _status_code, _headers = get_global_event_log_with_http_info(opts)
      data
    end

    #  req tenantId urlId userIdWS
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id  (required)
    # @option opts [String] :user_id_ws  (required)
    # @option opts [Integer] :start_time  (required)
    # @option opts [Integer] :end_time 
    # @return [Array<(GetEventLogResponse, Integer, Hash)>] GetEventLogResponse data, response status code and response headers
    def get_global_event_log_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_global_event_log ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      user_id_ws = opts[:'user_id_ws']
      start_time = opts[:'start_time']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'user_id_ws' is set
      if @api_client.config.client_side_validation && user_id_ws.nil?
        fail ArgumentError, "Missing the required parameter 'user_id_ws' when calling PublicApi.get_global_event_log"
      end
      # verify the required parameter 'start_time' is set
      if @api_client.config.client_side_validation && start_time.nil?
        fail ArgumentError, "Missing the required parameter 'start_time' when calling PublicApi.get_global_event_log"
      end
      # resource path
      local_var_path = '/event-log/global/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'userIdWS'] = user_id_ws
      query_params[:'startTime'] = start_time
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventLogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_global_event_log",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_global_event_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Past commenters on the page who are NOT currently online. Sorted by displayName. Use this after exhausting /users/online to render a \"Members\" section. Cursor pagination on commenterName: server walks the partial {tenantId, urlId, commenterName} index from afterName forward via $gt, no $skip cost.
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id Page URL identifier (cleaned server-side). (required)
    # @option opts [String] :after_name Cursor: pass nextAfterName from the previous response.
    # @option opts [String] :after_user_id Cursor tiebreaker: pass nextAfterUserId from the previous response. Required when afterName is set so name-ties don&#39;t drop entries.
    # @return [PageUsersOfflineResponse]
    def get_offline_users(opts = {})
      data, _status_code, _headers = get_offline_users_with_http_info(opts)
      data
    end

    # Past commenters on the page who are NOT currently online. Sorted by displayName. Use this after exhausting /users/online to render a \&quot;Members\&quot; section. Cursor pagination on commenterName: server walks the partial {tenantId, urlId, commenterName} index from afterName forward via $gt, no $skip cost.
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id Page URL identifier (cleaned server-side). (required)
    # @option opts [String] :after_name Cursor: pass nextAfterName from the previous response.
    # @option opts [String] :after_user_id Cursor tiebreaker: pass nextAfterUserId from the previous response. Required when afterName is set so name-ties don&#39;t drop entries.
    # @return [Array<(PageUsersOfflineResponse, Integer, Hash)>] PageUsersOfflineResponse data, response status code and response headers
    def get_offline_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_offline_users ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_offline_users"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_offline_users"
      end
      # resource path
      local_var_path = '/pages/{tenantId}/users/offline'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'afterName'] = opts[:'after_name'] if !opts[:'after_name'].nil?
      query_params[:'afterUserId'] = opts[:'after_user_id'] if !opts[:'after_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageUsersOfflineResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_offline_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_offline_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Currently-online viewers of a page: people whose websocket session is subscribed to the page right now. Returns anonCount + totalCount (room-wide subscribers, including anon viewers we don't enumerate).
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id Page URL identifier (cleaned server-side). (required)
    # @option opts [String] :after_name Cursor: pass nextAfterName from the previous response.
    # @option opts [String] :after_user_id Cursor tiebreaker: pass nextAfterUserId from the previous response. Required when afterName is set so name-ties don&#39;t drop entries.
    # @return [PageUsersOnlineResponse]
    def get_online_users(opts = {})
      data, _status_code, _headers = get_online_users_with_http_info(opts)
      data
    end

    # Currently-online viewers of a page: people whose websocket session is subscribed to the page right now. Returns anonCount + totalCount (room-wide subscribers, including anon viewers we don&#39;t enumerate).
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :url_id Page URL identifier (cleaned server-side). (required)
    # @option opts [String] :after_name Cursor: pass nextAfterName from the previous response.
    # @option opts [String] :after_user_id Cursor tiebreaker: pass nextAfterUserId from the previous response. Required when afterName is set so name-ties don&#39;t drop entries.
    # @return [Array<(PageUsersOnlineResponse, Integer, Hash)>] PageUsersOnlineResponse data, response status code and response headers
    def get_online_users_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_online_users ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      url_id = opts[:'url_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_online_users"
      end
      # verify the required parameter 'url_id' is set
      if @api_client.config.client_side_validation && url_id.nil?
        fail ArgumentError, "Missing the required parameter 'url_id' when calling PublicApi.get_online_users"
      end
      # resource path
      local_var_path = '/pages/{tenantId}/users/online'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urlId'] = url_id
      query_params[:'afterName'] = opts[:'after_name'] if !opts[:'after_name'].nil?
      query_params[:'afterUserId'] = opts[:'after_user_id'] if !opts[:'after_user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageUsersOnlineResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_online_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_online_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pages for a tenant. Used by the FChat desktop client to populate its room list. Requires `enableFChat` to be true on the resolved custom config for each page. Pages that require SSO are filtered against the requesting user's group access.
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :cursor Opaque pagination cursor returned as &#x60;nextCursor&#x60; from a prior request. Tied to the same &#x60;sortBy&#x60;.
    # @option opts [Integer] :limit 1..200, default 50
    # @option opts [String] :q Optional case-insensitive title prefix filter.
    # @option opts [PagesSortBy] :sort_by Sort order. &#x60;updatedAt&#x60; (default, newest first), &#x60;commentCount&#x60; (most comments first), or &#x60;title&#x60; (alphabetical).
    # @option opts [Boolean] :has_comments If true, only return pages with at least one comment.
    # @return [GetPublicPagesResponse]
    def get_pages_public(opts = {})
      data, _status_code, _headers = get_pages_public_with_http_info(opts)
      data
    end

    # List pages for a tenant. Used by the FChat desktop client to populate its room list. Requires &#x60;enableFChat&#x60; to be true on the resolved custom config for each page. Pages that require SSO are filtered against the requesting user&#39;s group access.
    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :cursor Opaque pagination cursor returned as &#x60;nextCursor&#x60; from a prior request. Tied to the same &#x60;sortBy&#x60;.
    # @option opts [Integer] :limit 1..200, default 50
    # @option opts [String] :q Optional case-insensitive title prefix filter.
    # @option opts [PagesSortBy] :sort_by Sort order. &#x60;updatedAt&#x60; (default, newest first), &#x60;commentCount&#x60; (most comments first), or &#x60;title&#x60; (alphabetical).
    # @option opts [Boolean] :has_comments If true, only return pages with at least one comment.
    # @return [Array<(GetPublicPagesResponse, Integer, Hash)>] GetPublicPagesResponse data, response status code and response headers
    def get_pages_public_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_pages_public ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_pages_public"
      end
      # resource path
      local_var_path = '/pages/{tenantId}'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'hasComments'] = opts[:'has_comments'] if !opts[:'has_comments'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPublicPagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_pages_public",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_pages_public\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :namespace  (required)
    # @option opts [String] :component  (required)
    # @option opts [String] :locale 
    # @option opts [Boolean] :use_full_translation_ids 
    # @return [GetTranslationsResponse]
    def get_translations(opts = {})
      data, _status_code, _headers = get_translations_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :namespace  (required)
    # @option opts [String] :component  (required)
    # @option opts [String] :locale 
    # @option opts [Boolean] :use_full_translation_ids 
    # @return [Array<(GetTranslationsResponse, Integer, Hash)>] GetTranslationsResponse data, response status code and response headers
    def get_translations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_translations ...'
      end
      # unbox the parameters from the hash
      namespace = opts[:'namespace']
      component = opts[:'component']
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling PublicApi.get_translations"
      end
      # verify the required parameter 'component' is set
      if @api_client.config.client_side_validation && component.nil?
        fail ArgumentError, "Missing the required parameter 'component' when calling PublicApi.get_translations"
      end
      # resource path
      local_var_path = '/translations/{namespace}/{component}'.sub('{namespace}', CGI.escape(namespace.to_s)).sub('{component}', CGI.escape(component.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locale'] = opts[:'locale'] if !opts[:'locale'].nil?
      query_params[:'useFullTranslationIds'] = opts[:'use_full_translation_ids'] if !opts[:'use_full_translation_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTranslationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PublicApi.get_translations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PublicApi#get_translations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :sso 
    # @return [GetUserNotificationCountResponse]
    def get_user_notification_count(opts = {})
      data, _status_code, _headers = get_user_notification_count_with_http_info(opts)
      data
    end

    # @param [Hash] opts the parameters
    # @option opts [String] :tenant_id  (required)
    # @option opts [String] :sso 
    # @return [Array<(GetUserNotificationCountResponse, Integer, Hash)>] GetUserNotificationCountResponse data, response status code and response headers
    def get_user_notification_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PublicApi.get_user_notification_count ...'
      end
      # unbox the parameters from the hash
      tenant_id = opts[:'tenant_id']
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PublicApi.get_user_notification_count"
      end
      # resource path
      local_var_path = '/user-notifications/get-count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
[...]
